@charset "utf-8";
/*공통*/
 .float-area {overflow: hidden;}
.float-area .f-left{float:left;}
.float-area .f-right{float:right;}

/* --------------------------------------------------------------------------------------------
	조합원가입
-------------------------------------------------------------------------------------------- */
/*조합원  기회원 알림*/
.position-area {position:relative;}
.position-area .btn-call.right-position {
	position: absolute;
	top:50%;
	right:0;
	margin-top:-16px;
}
@media only screen and (max-width: 320px) {
	.position-area .btn-call.right-position {
		position: inherit;
		margin-top:inherit;
	}
}

/*조합원 가입*/
.join-area .section {margin-top:12px;}
.step-wrap {
	overflow: hidden;
	padding:17px 10px;
	background-color:#f7f7f7;
	box-sizing: border-box;

}
.step-wrap p {
	line-height: 25px;
	float:left;
	color:#333;
	font-size:16px;
}
@media only screen and (max-width: 320px) {
	.step-wrap p {
		font-size:14px;
	}
}
.step-list {
	float:right;
	overflow: hidden;
}
.step-list li {
	float:left;
	width:25px;
	height:25px;
	margin-left:5px;
	line-height: 23px;
}
.step-list li:first-child {margin-left: 0;}
.step-list li span {
	display: inline-block;
	width:100%;
	height: 100%;
	background-color:#fff;
	border:1px solid #bfbfbf;
	border-radius: 50%;
	color:#666;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	box-sizing: border-box;
}
.step-list li.on span {
	border:1px solid #60b015;
	background-color: #60b015;
	color:#fff;
}
.step-list li.off span {
	border:1px solid #ddd;
	background-color: #ddd;
	color: #bbb;
}

/*주소검색 팝업*/
.post-area {
	overflow: hidden;
	margin-bottom:6px;
}
.post-area .box {
	float:left;
	width:50%;
	padding-left:4px;
	box-sizing: border-box;}
.post-area .box:first-child {padding-left:0}

.search-area {}
.result-area .no-result {
	color: #aaa;
	font-size:15px;
	text-align: center;
	line-height: 120px;
	background-color:#f7f7f7;
}

.post-result {
	display: none;
	margin-bottom:40px;
}
.post-result .scroll-box {
	overflow-y:auto;
	max-height:222px;
	border-top:1px solid #bbb;
	border-bottom:1px solid #bbb;
}
.post-result .result-title {
	position: relative;
	overflow: hidden;
	padding-left:70px;
	border-top:1px solid #bbb;
	background-color:#f7f7f7;
}
.post-result .result-title .title {
	height:43px;
	color:#333;
	font-size:15px;
	line-height:43px;
	text-align: center;
}
.post-result .result-title .title:first-child {
	position: absolute;
	top:0; left:0;
	width:70px;
	height: 43px;
}
.post-result .result-list .item {
	display:block;
	position:relative;
	box-sizing:border-box;
	border-top:1px solid #ddd;
}
.post-result .result-list .item:first-child {border-top:0;}
.post-result .result-list .post-number {
	position:absolute;
	left:0;top:50%;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
	width:70px;
	color:#666;
	font-size:15px;
	text-align:center;
	line-height:64px;
}
.post-result .result-list .address-area {
	width:100%;
	padding:11px 7px 11px 70px;
	box-sizing: border-box;
}
.post-result .result-list .address-area .address {
	color:#666;
	font-size:14px;
	line-height:21px;
}

/*조합원가입 - 약관동의*/
.post-info-area {
	margin-top:6px;
	padding:13px 10px;
	background-color:#eee;
	border:1px solid #ddd;
	border-radius: 4px;
}
.post-info-area p {
	margin-top:9px;
	color:#aaa;
	font-size: 15px;
	line-height: 22px;
}
.post-info-area p:first-child {margin-top:0; }



.term-list {
	border-top:1px solid #bbb;
	border-bottom:1px solid #bbb;
}
.term-list li {
	padding:6px 10px;
	border-top:1px solid #ddd;
}
.term-list li:first-child {border-top:0;}
.term-list li:after {
	content: '';
	display: block;
	clear: both;
}
.term-list li label {
	float: left;
	display: block;
	margin:3px 0;
	font-size:15px;
	line-height: 25px;
}
.term-list li label input {margin-right:7px;}
.term-list li a {
	float: right;
}

.tit-wrap {margin-bottom:2px; position: relative;}

.tit-wrap .left {}
.tit-wrap .right {position: absolute; right:0; bottom:0;}
.tit-wrap .right.check-list label{line-height: 25px;}
.tit-wrap .right.check-list label input {margin-right:7px}

/*지역한살림 자세히알기 팝업*/
.board1 .tit {
	padding:10px 0;
	background-color:#f7f7f7;
	color: #333;
	border-top:1px solid #bbb;
	text-align: center;
}
.board1 .tit .bg-logo {
	line-height: 20px;
	background:url(../img/bg/bg_logo.png) no-repeat left center;
	background-size:20px 18px;
	padding-left:26px;
	font-size:15px;
}

/*한살림소개 동영상*/
.video-area {
	overflow: hidden;
	width:355px;
	height:200px;
	margin:15px auto 0 auto;
}
.video-area img {width: 100%; height:100%;}
@media only screen and (max-width: 320px) {
	.video-area {
		overflow: hidden;
		width:300px;
		height:169px;
		margin:15px auto 0 auto;
	}
}

.call-area {
	margin-bottom:10px;
}
.call-area .tit {font-size: 14px;}
.call-area a {margin-left:10px; padding: 0 10px; line-height:23px;}

/*신청정보입력*/
.box-content3.pay-info {
	padding:15px 10px;
}
.box-content3.pay-info .item {font-size:13px;}
.box-content3.pay-info .bg-logo {
	margin-bottom:10px;
	background:url(../img/bg/bg_logo2.png) no-repeat left center;
	background-size:17px 15px;
	padding-left:24px;
	font-size:14px;
}

/* --------------------------------------------------------------------------------------------
	물품소식과 공지
-------------------------------------------------------------------------------------------- */
.tab-list1.two .item {width:50%}
.qna-area {display: none;}
.qna-area.on {display: block;}
.qna-area .tab-list5 {padding-top:15px; border-top:1px solid #bbb;}

.qna-cont {border:1px solid #bbb;}
.qna-list .item {

}
.qna-list .item .question {
	position:relative;
	border-bottom:1px solid #eee;
	padding:15px 10px;

}
.qna-list .item .question:before{
	content:'';
	position: absolute;
	right:10px;
	top:50%;
	width:10px;
	height:6px;
	margin-top:-3px;
	background:url(../img/ico/ico_20x12_arrow.png) no-repeat right center;
	background-size:10px 6px;
}
.qna-list .item.on .question:before  {
	transform: rotate(180deg);
}
.qna-list .item .question .title {
	color:#333;
}

.qna-list .item .question .date,
.qna-list .item .question .status {
	color:#aaa;
	font-size: 11px;
}
.qna-list .item .question .date {padding-right:5px;}
.qna-list .item .question .status {position:relative;padding-left:5px;}
.qna-list .item .question .status:before {
	content:'';
	position: absolute;
	left:0; top:50%;
	margin-top:-3px;
	width:1px; height:6px;
	background-color:#aaa;
}
.qna-list .item .important .title {position: relative; padding-left:30px;}
.qna-list .item .important .title:before {
	content: '필독';
	position: absolute;
	left:0;top:1px;
	width:26px;
	height:15px;
	border:1px solid #ddd;
	background-color: #f4f4f4;
	color:#239bd2;
	font-size: 12px;
	text-align: center;
	line-height:15px;
	box-sizing: border-box;
}
.qna-list .item .important .row:first-child .title {
	font-weight: 600;
}

.qna-list .item.on .answer {display: block;}
.qna-list .item .answer {
	display: none;
	padding:15px 10px;
	background-color:#f7f7f7;
}
.qna-list .item .answer .text {
	font-size:13px;
	color:#aaa;
	line-height:17px;
}

/*공지사항 게시판*/
.noty-list .item  {
	border-bottom:1px solid #eee;
	padding:15px 10px;
}
.noty-list .item .title {
	color:#333;
}

.noty-list .item  .date,
.noty-list .item  .status {
	color:#aaa;
	font-size: 11px;
}
.noty-list .item .date {padding-right:5px;}
.noty-list .item .status {position:relative;padding-left:5px;}
.noty-list .item .status:before {
	content:'';
	position: absolute;
	left:0; top:50%;
	margin-top:-3px;
	width:1px; height:6px;
	background-color:#aaa;
}
.noty-list .item.important .title {position: relative; padding-left:30px;}
.noty-list .item.important .title:before {
	content: '필독';
	position: absolute;
	left:0;top:1px;
	width:26px;
	height:15px;
	border:1px solid #ddd;
	background-color: #f4f4f4;
	color:#239bd2;
	font-size: 12px;
	text-align: center;
	line-height:15px;
	box-sizing: border-box;
}
.noty-list .item.important .row:first-child .title {
	font-weight: 600;
}

.board-view-area .title-area {
	padding:15px 0;
	border-top:1px solid #bbb;
	border-bottom:1px solid #bbb;
}
.board-view-area .title-area p {font-size:13px; color:#333;}
.board-view-area .title-area p span {
	display: block;
	font-size:19px;
	color:#333;
	font-weight: bold;
}
.board-view-area .float-area {overflow: hidden; margin-top:10px;}
.board-view-area .float-area .f-left{float:left;}
.board-view-area .float-area .f-right{float:right;}
.board-view-area .float-area span {color:#999; font-size: 13px;}
.board-view-area .float-area span:first-child {padding-right:10px;}
.board-view-area .float-area span em {color:#000;}
.board-view-area .content-area {padding:20px 0 0 0;}
.board-view-area .content-area p {font-size:15px; color:#666; line-height:22px;}

/*한살림소식*/
.board-view-area.type2 .title-area{
	padding:0;
	border:0;
}
.board-view-area.type2 .content-area {padding:15px 0 20px; }
.board-view-area .gray-content2 {
	margin:0 -12px;
	padding:15px 10px 25px 10px;
	border-top:1px solid #ddd;
}
.board-view-area .gray-content2 .hashtag-area {
	padding:0;
}
.board-view-area .gray-content2 .hashtag-area a {
	background-color:#fff;
}

.direction-area{
	margin-top:30px;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
}
.direction-area li {
	position:relative;
	height:46px;
	line-height: 46px;
}
.direction-area li:first-child {border-bottom:1px solid #eee;}
.direction-area li span {
	position:absolute;
	left:0;
	top:0;
	font-size:14px;
	color:#666;

}
.direction-area li a {
	display: inline-block;
	overflow: hidden;
	position:relative;
	width: 100%;
	padding-left:43px;
	font-size:14px;
	color:#666;
	white-space: nowrap;
	text-overflow: ellipsis;
	box-sizing: border-box;
}

/*물품개선*/
.upgrade-area {display: none;}
.upgrade-area.on {display: block;}

.upgrade-area .white-content2 {
	border-top: 8px solid #eee;
}
.upgrade-area .white-content2.none-border {
	border-top: 0;
}
.upgrade-area .white-content2:first-child {
	border:0;
}

.upgrade-item .thumb-list1 {
	border-top:1px solid #bbb;
	border-bottom:1px solid #bbb;
}
.upgrade-item .thumb-list1 .btn-list {
	right:0;
}

.upgrade-list {
	margin-top:15px;
	border:1px solid #bbb;
}
.upgrade-list li {
	padding:15px 10px;
	border-top:1px solid #eee;
}
.upgrade-list li:first-child {border-top:0;}

.upgrade-list li .title {
	overflow: hidden;
	width: 100%;
	margin-bottom:5px;
	color: #333;
	font-size: 13px;
	white-space: nowrap;
	text-overflow: ellipsis;
	box-sizing: border-box;
}
.upgrade-list li span {
	color:#aaa;
   font-size: 11px;
}
.upgrade-box {
	padding:15px 10px;
	background-color:#eee;
	border:1px solid #bbb;
}
.upgrade-box p {
	font-size: 13px;
	color:#333;
	line-height:19px;
}
.upgrade-box span {
	display: block;
	margin-bottom:3px;
}

.upgrade-area  .upgrade-item.type2 .thumb-list1 {
	position: relative;
	height: 200px;
}
.upgrade-area .box.type2 {height:130px;}
.upgrade-area .box.type2  .img-area {
	transform: inherit;
	top:12px;
}
.upgrade-area .box.type2  .text-area {padding-left:130px;}
.upgrade-area .upgrade-txt {
	position:absolute;
	bottom:14px;
	margin-top:15px;
	font-size:15px;
}

.upgrade-area .box-content1 {
	padding:0 10px;
}
.upgrade-area .box-content1 .title-area {
	overflow: hidden;
	padding:15px 0;
	border-bottom:1px solid #eee;
}
.upgrade-area .box-content1 .title-area .title {
	float:left;
	height:30px;
	line-height:30px;
	font-size: 15px;
	color:#333;
}
.upgrade-area  .upgrade-item.type2 .thumb-list1 .btn-list {bottom:-2px;}

.upgrade-area .box-content1 .title-area .btn-text {float:right;}
.upgrade-area .box-content1 .box-cont {
	padding:15px 0;
}

.improve-list li {
	padding:15px 10px;
	border:1px solid #bbb;
}
.improve-list li .title {
	margin-bottom:10px;
	color:#333;
	font-size: 13px;
	font-weight: bold;
}
.improve-list li .cont {
	height:38px;
	color:#333;
	font-size: 13px;
	line-height:19px;
}

.improve-list li .name {
	margin-top:15px;
	padding-top:10px;
	border-top:1px solid #bbb;
	color:#aaa;
	font-size:11px;
}
.improve-list li .name .date {float: right;}

.search-info {
	padding-bottom:15px;
	border-bottom:1px solid #ddd;
}
.search-info + p {
	padding:15px 0 20px;
	text-align: center;
}

/* --------------------------------------------------------------------------------------------
	천연벽지
-------------------------------------------------------------------------------------------- */
.right-btn-area {padding:13px 10px; text-align: right;}
.unit-area {width: 100%; overflow: hidden;}
.unit-area .box {float: left;}
.unit-area .box:nth-child(1) {position:relative; width:45%; }
.unit-area .box:nth-child(1) input,
.unit-area .box:nth-child(3) input {padding-right:25px; text-align: center;}
.unit-area .box:nth-child(1):before {
	content:'평';
	position: absolute;
	right:11px; top:12px;
	font-size: 15px;
	color:#aaa;
}
.unit-area .box:nth-child(2) {width:10%; }
.unit-area .box:nth-child(3) {position:relative; width:45%; }
.unit-area .box:nth-child(3):before {
	content:'㎡';
	position: absolute;
	right:11px; top:12px;
	font-size: 15px;
	color:#aaa;
}

.unit-area .box:nth-child(2) span {display: inline-block; width:100%; height:42px; line-height:42px; text-align: center;}

.estimate-area .form-item {
	padding-bottom:20px;
	border-bottom:1px solid #eee;
}
.estimate-area .form-item:last-child {border-bottom: 0;}
.estimate-area .check-list {margin-left:0; padding-bottom:0;}
.estimate-area .check-list label {width:110px; margin-left:0;}

.estimate-area .box-cont {margin:15px 0 10px}
.estimate-area .byte-count {
	margin-top:5px;
	color: #ccc;
	font-size:13px;
	text-align: right;
}

label.important {position: relative;}
label.important:before {
	content: '*';
	position: absolute;
	right:-8px; top:-3px;
	color:#f04114;
	font-size: 14px;
}

/*이전견적내역*/
.estimate-list  .list-group {
	border-top:1px solid #bbb;
}
.estimate-list  .list-title {
	width: 100%;
	height: auto;
	position: relative;
	background-color: #eee;
}

.estimate-list .list-title:after {
	content: '';
	display: block;
	clear: both;
}
.estimate-list .list-title .left-area {
	float:left;
	padding-left:10px;
}
.estimate-list .list-title .left-area p {
	height:50px;
	color: #333;
	font-size: 17px;
	font-weight: bold;
	line-height: 50px;
}
.estimate-list  .list-title .right-area {
	float: right;
}

.estimate-list  .list-title .btn-aco {
	position: relative;
	display: inline-block;
	width:36px; height:49px;
	font-size:0;
	line-height: 0;

}
.estimate-list .list-group.on .list-title .btn-aco:before {
	content: '';
	position: absolute;
	top:50%; left:50%;
	width:16px; height:9px;
	transform: translate(-50%, -50%);
	background:url(../img/btn/btn_up.png) 0 0 no-repeat;
	background-size:16px 9px;
}
.estimate-list .list-group .list-title .btn-aco:before {
	content: '';
	position: absolute;
	top:50%; left:50%;
	width:16px; height:9px;
	transform: translate(-50%, -50%);
	background:url(../img/btn/btn_down.png) 0 0 no-repeat;
	background-size:16px 9px;
}
.estimate-list .list-group .list-cont {
	/*display: none;*/
	padding:20px 10px 35px 10px;
	background-color:#fff;
}
.estimate-list  .list-group.on .list-cont {

}
.estimate-list .list-group.on:last-child .list-cont {
	padding-bottom:5px;
}
.estimate-list .list-group .list-cont .date-area{
	margin-top:15px;
}

.estimate-list .list-group .list-cont dl {}
.estimate-list .list-group .list-cont dt {
	float: left;
	margin-bottom:15px;
	font-size: 15px;
	color:#333;
}
.estimate-list .list-group .list-cont dd {
	padding-left:80px;
	margin-bottom:15px;
	font-size: 15px;
	color:#666;
}

.estimate-list .board1 td {text-align: right; padding-right:10px;}

 .estimate-area .group .bullet-list1 .item:first-child {margin-top:5px;}
 .estimate-area .group .bullet-list1 .item {
	 margin-top:10px;
	 font-size:15px;
	 line-height: 18px;
 }

/*요리상세-연관요리 썸네일*/

.cook-list  {
	overflow:hidden;
	margin:-6px -3px 0;
}
.cook-list .box {
	float:left;
	position:relative;
	width:50%;
	box-sizing:border-box;
	padding:6px 3px 0;
}
.cook-list .box .link {
	display:block;
	/*padding:15px 0 0;*/
	border:1px solid #ddd;
	border-bottom:0;
}
.cook-list .box .img-area {
	width:100%;
	height:100%;

}
.cook-list .box .text-area {
	height:60px;
	padding:14px 25px;
	text-align:center;
	box-sizing: border-box;
}
.cook-list .box .text-area .name {
	width:100%;
	color:#333;
	font-size:15px;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	box-sizing: border-box;
}
.cook-list .box .text-area .time {
	display: inline-block;
	padding-left:17px;
	color:#60b015;
	font-size:13px;
	background:url(../img/bg/bg_time.png) no-repeat left center;
	background-size:12px 12px;
}
.cook-slide {margin-top:5px;}
.cook-slide .swiper-pagination {
	width:60px;
	height:27px;
	margin:18px auto 0;
	box-sizing:border-box;
	border-radius:25px;
	border:1px solid #cdcdcd;
	color:#aaa;
	font-size:12px;
	text-align:center;
	line-height:27px;
}
.cook-slide .swiper-pagination .swiper-pagination-current {color:#333;}
.cook-slide .btn-prev,
.cook-slide .btn-next {
	position:absolute;
	top:50%;
	z-index:1;
	-webkit-transform:translateY(-50%) rotate(-45deg);
	-ms-transform:translateY(-50%) rotate(-45deg);
	transform:translateY(-50%) rotate(-45deg);
	width:10px;
	height:10px;
	margin-top:-16px;
}
.replay-table-wrap  {
	margin-top:5px;
	padding-top:10px;
	border-top:1px solid #eee;
}
.replay-table-wrap .cTitle04 {
	height:30px;
	line-height:30px;
	color:#666;
	font-weight: normal;
}
.reply-list {border:1px solid #eee;}
.reply-list .item .question {
	position:relative;
	border-bottom:1px solid #eee;
	padding:15px 45px 15px 10px;
	box-sizing: border-box;

}
.reply-list .item .question:before{
	content:'';
	position: absolute;
	right:10px;
	top:50%;
	width:10px;
	height:6px;
	margin-top:-3px;
	background:url(../img/ico/ico_20x12_arrow.png) no-repeat right center;
	background-size:10px 6px;
}
.reply-list .item.on .question:before  {
	transform: rotate(180deg);
}
.reply-list .item .question .row:first-child {margin-bottom:5px;}
.reply-list .item .question .title {
	overflow: hidden;
	display: inline-block;
	width:100%;
	color:#666;
	font-size: 15px;
	white-space: nowrap;
	text-overflow: ellipsis;
	box-sizing: border-box;
}

.reply-list .item .date,
.reply-list .item .name {
	color:#aaa;
	font-size: 13px;
}
.reply-list .item .name {padding-right:5px;}
.reply-list .item .date {position:relative; padding-left:5px;}
.reply-list .item .date:before {
	content:'';
	position: absolute;
	left:0; top:50%;
	margin-top:-5px;
	width:1px; height:10px;
	background-color:#aaa;
}

.reply-list .item.on .answer {display: block;}
.reply-list .item .answer {
	display: none;
	padding:10px;
	background-color:#f7f7f7;
}
.reply-list .item .answer .text {
	margin-top:10px;
	font-size:15px;
	color:#666;
	line-height:22px;
}
.reply-list .item .answer .text + .float-area .row span {
	display: inline-block;
	height:30px;
	line-height: 30px;
}

.reply-list .item .float-area .btn-h30 {padding:0 12px;}

.reply-list .item.on .question {display: none;}
.reply-list .item .question {display: block;}
.reply-list .item.on .answer {display: block;}
.reply-list .item .answer {display: none;}

/*.reply-table {width:100%; border-top:1px solid #666; border-bottom:1px solid #bbb;}
	.reply-table li {
		box-sizing: border-box;
		border-top:1px solid  #ddd;
	}
	.reply-table li.on {padding:20px;}
		.reply-table li .title {
			width:100%;
			padding:20px;
		}
	.reply-table li:first-child {margin-top:0;}

	.reply-table .cont > div,
	.reply-table .cont > span {display: table-cell; vertical-align: middle;}
	.reply-table .cont .img-area {width:13%; vertical-align: top;}
	.reply-table .cont .img-area img {width: 100%; height: 100%;}
	.reply-table .cont .text-area {width:70%; padding: 0 20px; vertical-align: top;}
	.reply-table .cont .name { width:7%}
	.reply-table .cont .date {width:10%}
	.reply-table li {cursor: pointer;}
	.reply-table li.on {cursor: default;}
	.reply-table li .cont {display:none;}
	.reply-table li.on .cont {display: block;}
	.reply-table li.on .title {display: none;}
	.reply-table li.on .cont {display:block;}*/
