@charset "utf-8";


/* --------------------------------------------------------------------------------------------
	조합원가입
-------------------------------------------------------------------------------------------- */
/*조합원 가입여부 확인 팝업*/
.confirm-tit {text-align: center;}
.confirm-box {
	overflow:hidden;
	margin-top:15px;
	border:1px solid #bbb;
	border-radius: 3px;
}
.confirm-box a {
	display: inline-block;
	float:left;
	width:50%;
	border-left:1px solid #bbb;
	box-sizing:border-box;
}
.confirm-box .confirm {
	width:100%;
	padding:105px 0 20px;
	background-repeat:no-repeat;
	background-position:50% 20px;
	text-align: center;
}
.confirm-box a:first-child {border-left:0;}
.confirm-box .confirm.phone {
	background-image:url(../img/bg/bg_phone.png);
	background-size: 69px 69px;
}
.confirm-box .confirm.ipin {
	background-image:url(../img/bg/bg_ipin.png);
	background-size: 69px 69px;
}

/*조합원  기회원 알림*/
.position-area {position:relative;}
.position-area .btn-call.right-position {
	position: absolute;
	top:50%;
	right:0;
	margin-top:-14px;
}

/*조합원 가입*/
.join-area .section {margin-top:15px;}
.step-wrap {
	overflow: hidden;
	/*height:37px;*/
	padding:15px 10px;
	background-color:#f7f7f7;
	box-sizing: border-box;

}
.step-wrap p {
	height:21px;
	line-height: 21px;
	float:left;
	color:#333;
	font-size:14px;

}
.step-list {
	float:right;
	overflow: hidden;
}
.step-list li {
	float:left;
	width:21px;
	height:21px;
	margin-left:5px;
	line-height: 21px;
}
.step-list li:first-child {margin-left: 0;}
.step-list li span {
	display: inline-block;
	width:100%;
	height: 100%;
	background-color:#fff;
	border:1px solid #bfbfbf;
	border-radius: 10px;
	color:#666;
	font-size: 10px;
	text-align: center;
	font-weight: bold;
	box-sizing: border-box;
}
.step-list li.on span {
	border:1px solid #60b015;
	background-color: #60b015;
	color:#fff;
}
.step-list li.off span {
	border:1px solid #ddd;
	background-color: #ddd;
	color: #bbb;
}
