@charset "utf-8";
/* --------------------------------------------------------------------------------------------
	로그인
-------------------------------------------------------------------------------------------- */
.join-section {
	padding:20px 10px;
}
.join-section .form-item {margin-top:6px;}
.join-section .form-item:first-child {margin-top:0;}

.login-global {
	margin-top:10px;
	text-align: center;
	line-height: 31px;
}
.login-global .login-find {
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
}
.login-global .login-find span {
	position: relative;
	float:left;
	margin:0 16px 0 15px;
	font-size:12px;
	color:#666;
}
.login-global .login-find span:before {
	content: '';
	position: absolute;
	left:-16px; top:50%;
	width:1px; height:11px;
	background-color:#ddd;
	transform: translateY(-50%);
}
.login-global .login-find span:first-child:before{
	display: none;
}
/* --------------------------------------------------------------------------------------------
	체크박스 wrapper
-------------------------------------------------------------------------------------------- */
.check-wrap {
	margin-top:10px;
}
.check-wrap label {
	margin-left:20px;
	line-height: 20px;
}
.check-wrap label:first-child {margin-left:0;}
.check-wrap label input {margin-right:6px;}
/* --------------------------------------------------------------------------------------------
	텍스트 박스
-------------------------------------------------------------------------------------------- */
.text-box {
	margin-top:10px;
	padding:10px;
	background-color:#fff;
	border:1px solid #ddd;
}
.text-box .text {
	position: relative;
	padding-left:5px;
	color:#666;
	font-size:11px;
	line-height: 15px;
}
.text-box .text:before {
	content: '';
	position: absolute;
	left:0; top:6px;
	width:2px; height:2px;
	background-color:#666;
}
.text-box .btn-box {
	margin-top:8px;
	padding-left:5px;
}
