@charset "utf-8";
/* --------------------------------------------------------------------------------------------
	로그인
-------------------------------------------------------------------------------------------- */
.join-section {
	padding:20px 10px;
}
.join-section .form-item {margin-top:6px;}
.join-section .form-item:first-child {margin-top:0;}

.login-global {
	margin-top:10px;
	text-align: center;
	line-height: 31px;
}
.login-global .login-find {
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
}
.login-global .login-find span {
	position: relative;
	float:left;
	margin:0 16px 0 15px;
	font-size:12px;
	color:#666;
}
.login-global .login-find span:before {
	content: '';
	position: absolute;
	left:-16px; top:50%;
	width:1px; height:11px;
	background-color:#ddd;
	transform: translateY(-50%);
}
.login-global .login-find span:first-child:before{
	display: none;
}

.login-wrap .form-area {display:none;}
.login-wrap .form-area.on {display: block;}

.result-info {
	padding:13px 20px;
	background-color:#eee;
}
.result-info li {
	overflow: hidden;
	position:relative;
}
.result-info dt {
	position: absolute;
	top:0; left:0;
	width:105px;
	padding-left:6px;
	font-size:13px;
	color:#333;
	font-weight: bold;
	line-height: 25px;
}
.result-info dt:before {
	content: '';
	position: absolute;
	top:11px; left:0;
	width:2px; height:2px;
	background-color:#333;
}
.result-info dd {
	margin-left:105px;
	font-size:13px;
	color:#666;
	line-height: 25px;
	word-break: break-all;
}
.send-select {
	overflow: hidden;
	border:1px solid #bbb;
	border-radius: 5px;
}
.send-select li {
	float:left;
	width:50%;
	border-left:1px solid #bbb;
	box-sizing: border-box;
}
.send-select li:first-child {border-left:0;}
.send-select li .find-btn {
	display: block;
	width:100%;
	margin: 0 auto;
	padding:105px 0 20px;
	font-size:13px;
	color:#333;
	text-align: center;
}
.find-sms {
	background:url(../img/bg/bg_sms.png) 50% 20px no-repeat;
	background-size:69px;
}

.find-email {
	background:url(../img/bg/bg_email.png) 50% 20px no-repeat;
	background-size:69px;
}

.find-ipin {
	background:url(../img/bg/bg_ipin.png) 50% 20px no-repeat;
	background-size:69px;
}

.search-id-link {
	margin-top:10px;
}
.search-id-link .text {
	margin-left:6px;
	font-size:12px;
	color:#333;
	line-height: 25px;
}
/* --------------------------------------------------------------------------------------------
	체크박스 wrapper
-------------------------------------------------------------------------------------------- */
.check-wrap {
	margin-top:10px;
}
.check-wrap label {
	margin-left:20px;
	line-height: 20px;
}
.check-wrap label:first-child {margin-left:0;}
.check-wrap label input {margin-right:6px;}
/* --------------------------------------------------------------------------------------------
	텍스트 박스
-------------------------------------------------------------------------------------------- */
.text-box {
	margin-top:10px;
	padding:10px;
	background-color:#fff;
	border:1px solid #ddd;
}
.text-box .text {
	position: relative;
	padding-left:5px;
	color:#666;
	font-size:11px;
	line-height: 15px;
}
.text-box .text:before {
	content: '';
	position: absolute;
	left:0; top:6px;
	width:2px; height:2px;
	background-color:#666;
}
.text-box .btn-box {
	margin-top:8px;
	padding-left:5px;
}

.top-info {
	margin:7px 0 16px;
	text-align: center;
	font-size:13px;
	color:#666;
	line-height: 19px;
	letter-spacing: -0.5px;
}

.title-box .cTitle01 + .top-info {
	margin:-3px 0 11px;
}

/* --------------------------------------------------------------------------------------------
	완료페이지
-------------------------------------------------------------------------------------------- */
.complete-area {
	padding-top:124px;
	background:url(../img/bg/bg_order_complete.png) 50% 10px no-repeat;
	background-size:75px 96px;
}
.complete-area .text-green {
	font-size:16px;
	color:#60b015;
	font-weight: bold;
	text-align: center;
}
