@charset "utf-8";
/* --------------------------------------------------------------------------------------------
	로그인
-------------------------------------------------------------------------------------------- */
.join-section {
	padding:20px 10px;
}
.join-section .form-item {margin-top:6px;}
.join-section .form-item:first-child {margin-top:0;}

.login-global {
	margin:11px 0 11px;
	text-align: center;
	line-height: 31px;
}
.login-global .login-find {
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
}
.login-global .login-find span {
	position: relative;
	float:left;
	margin:0 21px 0 20px;
	font-size:14px;
	color:#666;
	vertical-align: top;
}
@media only screen and (max-width: 320px) {
	.login-global .login-find span {
		margin:0 14px 0 13px;
	}
}
.login-global .login-find span:first-child {margin-left:0;}
.login-global .login-find span:last-child {margin-right:0;}
.login-global .login-find span:before {
	content: '';
	position: absolute;
	left:-16px; top:50%;
	width:1px; height:14px;
	background-color:#ddd;
	transform: translateY(-50%);
}
@media only screen and (max-width: 320px) {
	.login-global .login-find span:before {
		left:-14px;
	}
}
.login-global .login-find span:first-child:before{
	display: none;
}

.login-wrap .form-area {display:none;}
.login-wrap .form-area.on {display: block;}

.result-info {
	padding:15px 20px;
	background-color:#eee;
}
.result-info li {
	overflow: hidden;
	position:relative;
	margin-top:5px;
}
.result-info li:first-child {margin-top:0;}
.result-info dt {
	position: absolute;
	top:0; left:0;
	width:105px;
	padding-left:6px;
	font-size:15px;
	color:#333;
	font-weight: bold;
	line-height: 25px;
}
.result-info dt:before {
	content: '';
	position: absolute;
	top:11px; left:0;
	width:2px; height:2px;
	background-color:#333;
}
.result-info dd {
	margin-left:105px;
	font-size:15px;
	color:#666;
	line-height: 25px;
	word-break: break-all;
}
.result-info dd .order-goods span {
	overflow: hidden;
	display:inline-block;
	max-width: 80%;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: top;
}
@media only screen and (max-width: 320px) {
	.result-info dd .order-goods span {
		max-width: 70%;
	}
}
.send-select {
	overflow: hidden;
	border:1px solid #ddd;
	border-radius: 5px;
}
.send-select li {
	float:left;
	width:50%;
	border-left:1px solid #ddd;
	box-sizing: border-box;
}
.send-select li:first-child {border-left:0;}
.send-select li .find-btn {
	display: block;
	width:100%;
	margin: 0 auto;
	padding:125px 0 25px;
	font-size:15px;
	color:#333;
	text-align: center;
}
.find-sms {
	background:url(../img/bg/bg_phone.png) 50% 25px no-repeat;
	background-size:85px;
}

.find-email {
	background:url(../img/bg/bg_email.png) 50% 25px no-repeat;
	background-size:85px;
}

.find-ipin {
	background:url(../img/bg/bg_ipin.png) 50% 25px no-repeat;
	background-size:85px;
}

.search-id-link {
	margin-top:10px;
}
.search-id-link .text {
	margin-left:6px;
	font-size:13px;
	color:#333;
	line-height: 30px;
}
/* --------------------------------------------------------------------------------------------
	체크박스 wrapper
-------------------------------------------------------------------------------------------- */
.check-wrap {margin-top:10px;}
.check-wrap label {
	display: inline-block;
	margin-left:20px;
	line-height: 25px;
	font-size:15px;
	white-space:nowrap;
}
.check-wrap label:first-child {margin-left:0;}
.check-wrap label input {margin-right:6px;}

/* --------------------------------------------------------------------------------------------
	달력 영역
-------------------------------------------------------------------------------------------- */
.date-area {
	padding:0 10px;
}
.date-area dl {
	position: relative;
	width: 100%;
	height:40px;
	background-color:#f7f7f7;
	border:1px solid #eee;
	border-radius:5px;
}
.date-area dl:after {
	content: '';
	display: block;
	clear: both;
}
.date-area dl .title {
	float: left;
	padding-left:10px;
	color:#333;
	line-height: 40px;
}
.date-area dl .calendar {
	float: right;
	width:160px;
}
.date-area dl .calendar input {
	border:0;
}
/* --------------------------------------------------------------------------------------------
	텍스트 박스
-------------------------------------------------------------------------------------------- */
.text-box {
	margin-top:15px;
	padding:7px 10px;
	background-color:#fff;
	border:1px solid #ddd;
}
.text-box .text {
	position: relative;
	padding-left:5px;
	color:#666;
	font-size:13px;
	line-height: 18px;
}
.text-box .text:before {
	content: '';
	position: absolute;
	left:0; top:6px;
	width:2px; height:2px;
	background-color:#666;
}
.text-box .btn-box {
	margin:8px 0 3px;
	padding-left:5px;
}

.text-box02 {
	padding:15px;
	background-color:#eee;
}

.text-box02 dl .title {
	margin:-2px 0 5px;
	font-size:15px;
	color:#333;
	font-weight: bold;
}
.text-box02 dl .text {
	font-size:13px;
	color:#666;
	line-height: 18px;
}
.text-box02 .bullet-text {
	position: relative;
	margin-bottom:6px;
	padding-left:6px;
	font-size:13px;
	color:#666;
}
.text-box02 .bullet-text:before {
	content:'';
	position: absolute;
	top:6px; left:0;
	width:2px; height: 2px;
	background-color: #666;
}
.text-box02 .btn-box {
	margin-top:8px;
}
.text-box02 .price-info .item {margin-left:15px;}
.text-box02 .price-info .item:first-child {
	margin-left:0;
}
.text-box02 .price-info .item em {
	font-weight: bold;
}
.list-box .title {
	position: relative;
	margin-top:10px;
	padding-left:6px;
	font-size:15px;
	color:#666;
	font-weight:bold;
	line-height: 24px;
}
.list-box .title:before {
	content:'';
	position: absolute;
	top:11px; left:0;
	width:2px; height:2px;
	background-color:#666;
}
.list-box .text {
	margin:3px 0 8px;
	font-size:15px;
	line-height: 22px;
}
.list-box .sub-list li {
	margin-top:3px;
	font-size:15px;
	color:#666;
}
.list-box .sub-list li .num {
	display: inline-block;
	width:15px; height:15px;
	border:1px solid #666;
	border-radius:50%;
	font-size:12px;
	line-height: 13px;
	text-align: center;
	box-sizing: border-box;
	vertical-align: 1px;
}
.list-box {}

.text-area {
	margin-top:3px;
	color:#666;
	font-size:14px;
	line-height: 22px;
}
.top-info {
	margin:7px 0 16px;
	text-align: center;
	font-size:16px;
	color:#666;
	line-height: 19px;
	letter-spacing: -0.5px;
}

.title-box .cTitle01 + .top-info {
	margin:0 0 12px;
}

.joing-step {
	overflow: hidden;
}
.joing-step li {
	position: relative;
	float: left;
	width:33%;
	padding-top:84px;
	font-size:13px;
	color:#666;
	text-align: center;
}
.joing-step li.on {
	color:#60b015;
	font-weight: bold;
}
.joing-step li:nth-child(2) {width:34%;}

.joing-step li.step01 {
	background:url(../img/bg/ico_join01_off.png) 50% 0 no-repeat;
	background-size:70px 70px;
}
.joing-step li.step01.on {
	background:url(../img/bg/ico_join01.png) 50% 0 no-repeat;
	background-size:70px 70px;
}
.joing-step li.step02 {
	background:url(../img/bg/ico_join02_off.png) 50% 0 no-repeat;
	background-size:70px 70px;
}
.joing-step li.step02.on {
	background:url(../img/bg/ico_join02.png) 50% 0 no-repeat;
	background-size:70px 70px;
}
.joing-step li.step03 {
	background:url(../img/bg/ico_join03_off.png) 50% 0 no-repeat;
	background-size:70px 70px;
}
.joing-step li.step03.on {
	background:url(../img/bg/ico_join03.png) 50% 0 no-repeat;
	background-size:70px 70px;
}
.joing-step li:after {
	content: '';
	position: absolute;
	top:30px; right:-4px;
	width:8px; height:13px;
	background:url(../img/ico/ico_16x26_arrow.png) 0 0 no-repeat;
	background-size: 8px 13px;
}
.joing-step li:last-child:after {
	display: none;
}
/* --------------------------------------------------------------------------------------------
	완료페이지
-------------------------------------------------------------------------------------------- */
.complete-area {
	padding-top:124px;
	background:url(../img/bg/bg_order_complete.png) 50% 10px no-repeat;
	background-size:85px 109px;
}
.complete-area.type2 {
	background:url(../img/bg/bg_order_complete2.png) 50% 10px no-repeat;
	background-size:75px 96px;
}
.complete-area .text-green {
	font-size:17px;
	color:#60b015;
	font-weight: bold;
	text-align: center;
}
.complete-area .text-grey {
	font-size:15px;
	color:#666;
	line-height:18px;
	text-align:center;
}

/* --------------------------------------------------------------------------------------------
	조합원 가입
-------------------------------------------------------------------------------------------- */
.text-btn-wrap {
	overflow: hidden;
	margin-top:2px;
}
.text-btn-wrap .text {
	float:left;
	font-size:15px;
	color:#666;
	line-height: 30px;
}
.text-btn-wrap .btn-wrap {
	float: right;
}

.system-table {
	margin:7px 0 22px;
	padding:15px 10px;
	background-color:#f7f7f7;
}
.system-table img {
	width:100%; height:auto;
	vertical-align: top;
}

.query-list {margin-top:10px;}
.query-list .title {
	margin:18px 0 8px;
	font-size:15px;
	color:#666;
	line-height: 22px;
}
.query-list li:first-child .title {margin-top:0;}
.query-list .title .num {
	display: inline-block;
	width:15px; height:15px;
	border:1px solid #666;
	border-radius:50%;
	font-size:12px;
	line-height: 13px;
	text-align: center;
	box-sizing: border-box;
	vertical-align: 1px;
}
.query-list .title .blank {
	display: inline-block;
	width:24px;
	color:#239bd2;
	text-align: center;
	line-height: 18px;
	border:1px solid #bbb;
	box-sizing: border-box;
	vertical-align: top;
}
.query-list textarea {
	resize:none;
	height: 75px;
}
.query-list .row {
	overflow:hidden;
	margin-top:6px;
}
.query-list .row input {
	width:100%;
}
.query-list .row.dual {
	margin:0 -2px;
}
.query-list .row .inp-wrap {
	float:left;
	width:50%;
	padding:0 2px;
	box-sizing: border-box;
}


/* --------------------------------------------------------------------------------------------
	장바구니
-------------------------------------------------------------------------------------------- */
.order-cart-list .list-group {
	border-top:1px solid #bbb;
}
.order-cart-list .list-title {
	position: relative;
	background-color: #eee;
}
.order-cart-list .list-title:after {
	content: '';
	display: block;
	clear: both;
}
.order-cart-list .list-title .left-area {
	float:left;
	padding-left:10px;
}
.order-cart-list .list-title .right-area {
	float: right;
}
.order-cart-list .list-title label {
	display: inline-block;
	padding:12px 0;
	font-size:17px;
	color:#333;
	font-weight: bold;
	line-height: 25px;
}
.order-cart-list .list-title label input {
	margin-right:2px;
}
.order-cart-list .list-title .btn-aco {
	position: relative;
	display: inline-block;
	width:36px; height:49px;
	font-size:0;
	line-height: 0;

}
.order-cart-list .list-group.on .list-title .btn-aco:before {
	content: '';
	position: absolute;
	top:50%; left:50%;
	width:16px; height:9px;
	transform: translate(-50%, -50%);
	background:url(../img/btn/btn_up.png) 0 0 no-repeat;
	background-size:16px 9px;
}
.order-cart-list .list-group .list-title .btn-aco:before {
	content: '';
	position: absolute;
	top:50%; left:50%;
	width:16px; height:9px;
	transform: translate(-50%, -50%);
	background:url(../img/btn/btn_down.png) 0 0 no-repeat;
	background-size:16px 9px;
}
.order-cart-list .list-group .list-cont {
	display: none;
	background-color:#fff;
}
.order-cart-list .list-group.on .list-cont {
	padding-bottom:40px;
}
.order-cart-list .list-group.on:last-child .list-cont {
	padding-bottom:10px;
}
.order-cart-list .list-group .list-cont .date-area{
	margin-top:15px;
}
.order-cart-list .list-cont .calendar {
	position: relative;
}
.order-cart-list .list-cont .calendar:before {
	content: '';
	position: absolute;
	top:9px; right:41px;
	width:1px; height:22px;
	background-color:#eee;
}
.order-cart-list .list-cont .calendar input {
	height: 40px;
	padding-right:50px;
	line-height: 42px;
	background-color:#f7f7f7;
	text-align: right;
	color:#60b015;
}
.order-cart-list .list-group .list-cont .load-goods {
	background-color:#f7f7f7;
	border-top:2px solid #ccc;
	border-bottom:2px solid #ccc;
}

.order-cart-list .list-cont .no-result {
	margin-top:20px;
	line-height:107px;
	color:#aaa;
	font-size:15px;
	text-align: center;
}

.order-cart-list .list-cont .result {
	padding:0 10px;
	background-color:#f7f7f7;
	border-top:1px solid #eee;
}
.order-cart-list .list-cont .result .total {
	overflow: hidden;
	border-bottom:1px solid #eee;
}
.order-cart-list .list-cont .result .total dt {
	float:left;
	color:#666;
	font-size:13px;
	line-height: 45px;
}
.order-cart-list .list-cont .result .total dd {
	float:right;
	font-size:13px;
	color:#f04114;
	line-height: 45px;
}
.order-cart-list .list-cont .result .total dd .number {
	font-size:22px;
	font-weight: bold;
	vertical-align: top;
}
.order-cart-list .list-cont .result .btn-group {
	overflow: hidden;
	padding:10px 0 15px;
}
.order-cart-list .list-cont .result .btn-group .fl {
	float:left;
}
.order-cart-list .list-cont .result .btn-group .fr {
	float: right;
}

.order-cart-list .list-cont .btn-area {
	padding:0 10px;
}

/* 장바구니 상세페이지 */
.cart-wrap {}
.cart-wrap .order-day {
	position: relative;
	padding:0 10px 0 17px;
	color:#333;
	font-size:14px;
	line-height:48px;
}
.cart-wrap .order-day:before {
	content: '';
	position: absolute;
	top:22px; left:10px;
	width:3px; height:3px;
	background-color:#333;
}
.cart-wrap .order-day span {
	color:#60b015;
}
.cart-wrap .section {
	margin-bottom:0;
}
.cart-wrap .section.on {
	margin-bottom:30px;
}
.cart-wrap .section .title-wrap {
	position: relative;
	padding:0 49px 0 10px;
	background-color:#eee;
	border-top:1px solid #bbb;
}
.cart-wrap .section .title-wrap .title {
	display: inline-block;
	color:#333;
	font-size:17px;
	font-weight: bold;
	line-height: 49px;
}
.cart-wrap .section .title-wrap .goods {
	position: absolute;
	top:0; left:80px; right:46px; bottom:0;
	font-size:14px;
	line-height: 49px;
}
.cart-wrap .section .title-wrap .goods span {
	overflow: hidden;
	display: inline-block;
	max-width: 80%;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: top;
}
.cart-wrap .section .title-wrap .btn-aco {
	position: absolute;
	top:0; right:0;
	width:36px; height:49px;
	font-size: 0;
	line-height: 0;
}
.cart-wrap .section .title-wrap .btn-aco:before {
	content: '';
	position: absolute;
	top:50%; left:50%;
	width:16px; height:9px;
	transform: translate(-50%, -50%);
	background:url(../img/btn/btn_down.png) 0 0 no-repeat;
	background-size:16px 9px;
}
.cart-wrap .section.on .title-wrap .btn-aco:before {
	content: '';
	position: absolute;
	top:50%; left:50%;
	width:16px; height:9px;
	transform: translate(-50%, -50%);
	background:url(../img/btn/btn_up.png) 0 0 no-repeat;
	background-size:16px 9px;
}

.cart-wrap .section .sub-title-wrap {
	position: relative;
	padding: 0 49px 0 10px;
	background-color: #eee;
}
.cart-wrap .section .sub-title-wrap .title {
	display: inline-block;
	color: #333;
	font-size: 15px;
	font-weight: bold;
	line-height: 40px;
}
.cart-wrap .section .sub-title-wrap .btn-sub-aco {
	position: absolute;
	top:0; right:0;
	width:36px; height:40px;
	font-size: 0;
	line-height: 0;
}
.cart-wrap .goods-info .sub-title-wrap .btn-sub-aco:before {
	content: '';
	position: absolute;
	top:50%; left:50%;
	width:16px; height:9px;
	transform: translate(-50%, -50%);
	background:url(../img/btn/btn_down.png) 0 0 no-repeat;
	background-size:16px 9px;
}
.cart-wrap .goods-info.on .sub-title-wrap .btn-sub-aco:before {
	content: '';
	position: absolute;
	top:50%; left:50%;
	width:16px; height:9px;
	transform: translate(-50%, -50%);
	background:url(../img/btn/btn_up.png) 0 0 no-repeat;
	background-size:16px 9px;
}

.cart-wrap .section .cont-area {
	display: none;
}
.cart-wrap .section .order-list {
	padding:0 10px;
}
.cart-wrap .section .order-list .box {
	position: relative;
	border-top:1px solid #eee;
}
.cart-wrap .section .order-list .box:first-child {
	border-top:0;
}
.cart-wrap .section .order-list .ico-label {
	position:absolute;
	left:0;top:15px;
	z-index:1;
}
.cart-wrap .section .order-list .img-area {
	overflow:hidden;
	position:absolute;
	left:0;top:10px;
	width:120px;
	height:120px;
}

.cart-wrap .section .order-list .box .inner {
	position: relative;
	min-height: 140px;
	padding-left: 130px;
}
.cart-wrap .section .order-list .name {
	max-height:36px;
	padding-top:22px;
	color:#666;
	font-size:15px;
	line-height:18px;
}
.cart-wrap .section .order-list .count {
	margin-top:6px;
}
.cart-wrap .section .order-list .price-wrap {
	position: absolute;
	bottom:8px; left:130px; right:0;
}
.cart-wrap .section .order-list .price-wrap .price {
	display: inline-block;
	color:#333;
	font-size:13px;
	line-height:42px;
}
.cart-wrap .section .order-list .price-wrap .number {
	font-size:18px;
	font-weight:bold;
}
@media only screen and (max-width: 320px) {
	.cart-wrap .section .order-list .price-wrap .number {
		font-size:16px;
	}
}
.cart-wrap .section .order-list .price-wrap .num-select {
	float: right;
	width:105px;
	margin:0;
}
@media only screen and (max-width: 320px) {
	.cart-wrap .section .order-list .price-wrap .num-select {
		width:85px;
	}
}
.cart-wrap .section .order-list .date {
	margin-bottom:10px;
	padding:0 10px;
	color:#aaa;
	font-size: 12px;
	line-height: 35px;
	background-color:#f7f7f7;
}

.cart-wrap .section .price-info {
	padding-top:8px;
	border-top:1px solid #eee;
}
.cart-wrap .section .price-info li {
	overflow: hidden;
	padding:0 20px;
	font-size:14px;
	color:#333;
	line-height: 27px;
}
.cart-wrap .section .price-info li .btn-tooltip {
	margin-left: 5px;
	vertical-align: middle;
}
.cart-wrap .section .price-info li .price {
	float: right;
}
.cart-wrap .section .price-info li .total span {
	color:#f04114;
	font-size:18px;
	font-weight: bold;
}
.cart-wrap .section .total-price {
	overflow: hidden;
	margin:20px -10px 0;
	padding:0 10px;
	line-height: 51px;
	background-color:#f7f7f7;
	border-top:1px solid #eee;
}
.cart-wrap .section .total-price .total {
	color:#666;
	font-size:13px;
}
.cart-wrap .section .discount {
	margin-top:10px;
	font-size:12px;
	color:#aaa;
	text-align: right;
}
.cart-wrap .section .discount span {
	color:#f04114;
}
.cart-wrap .section .total-price .price {
	float: right;
	color:#f04114;
}
.cart-wrap .section .total-price .price .number {
	font-size:22px;
	font-weight: bold;
	vertical-align: top;
}

.cart-wrap .section .payment {
	overflow: hidden;
	background-color:#fff;
	border:1px solid #82828c;
	border-radius: 5px;
}
.cart-wrap .section .payment li {
	float:left;
	width:25%;
	border-left:1px solid #eee;
	box-sizing: border-box;
}
.cart-wrap .section .payment li:first-child {
	border-left:0;
}
.cart-wrap .section .payment li button {
	display: block;
	width:100%;
	height:40px;
	color:#666;
	font-size:14px;
}
.cart-wrap .section .payment li button.on {
	background-color:#82828c;
	color:#fff;
}
.cart-wrap .btn-area {
	padding:0 10px;
}
/* 인풋 셀렉트 레이어 타입 */
.input-select {
	position: relative;
	margin-top:10px;
}
.input-select .text-form {
	position:relative;
	width:100%;
}
.input-select .text-form::after {
	content:'';
	position: absolute;
	top:15px; right:10px;
	-webkit-transform:rotate(135deg);
	-ms-transform:rotate(135deg);
	transform:rotate(135deg);
	width:7px; height:7px;
	border-top:2px solid #333;
	border-right:2px solid #333;
}
.input-select .text-form.disabled:before {
	width:100%;
	height:100%;
	position: absolute;
	left:0; right:0; top:0; bottom:0;
	background-color:#ddd;
}
.input-select .text-form input {
	padding:0 30px 0 10px;
}
.input-select .list {
	display:none;
	position:absolute;
	left:0;right:0;top:41px;
	z-index: 2;
	padding:10px 0;
	border:1px solid #91c90b;
	background-color:#fff;
}
.input-select .list .item {
	overflow: hidden;
	margin-top:1px;
	padding:0 13px;
	color:#666;
	font-size:14px;
	line-height:32px;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor:default;
}
.input-select .list .item.line2 {
	margin:7px 0;
	line-height:18px;
}
.input-select .list .item:first-dhild {margin-top:0;}
.input-select .list .item:hover,
.input-select .list .item.on {background-color: #d1ef8a;}/* on */
.input-select .byte-text {
	position: absolute;
	top:0; right:0;
	color:#aaa;
	font-size:13px;
	line-height:33px;
}
.input-select .byte-text .byte {color:#60b015;}

.num-select {
	position: relative;
}
.num-select .inp-box {
	display: none;
	position: absolute;
	top:0; right:0; left:0; bottom:0;
}
.num-select .inp-box.on {
	display: block;
}
.num-select .inp-box input[type=tel] {
	padding:0 35px 0 10px;
}
.num-select .inp-box .btn-cancle {
	position: absolute;
	top:0; right:0;
	width:30px; height:42px;
	font-size:0;
	line-height:0;
}
.num-select .inp-box .btn-cancle:before {
	content: '';
	position: absolute;
	top:0; left:0;
	width:30px; height:42px;
	background:url(../img/btn/btn_x_19x19.png) 50% 50% no-repeat;
	background-size:12px 12px;
}

.cart-wrap .section .delivery-wrap {
	padding:20px 10px 0;
}
.cart-wrap .section .goods-info {
	margin-top:30px;
}
.cart-wrap .section .goods-info .sub-cont {
	display: none;
}
.cart-wrap .section .goods-info .order-list{
	padding:0;
}



.category {
	position: relative;
	height:56px;
}
.category .inner-wrap {
	position:absolute;
	left:0;right:40px;top:0;
	z-index: 2;
	background-color: #f7f7f7;
	border-right:1px solid #eee;
}
.category .inner-wrap:after {
	content: '';
	position: absolute;
	right:0; top:1px;
	z-index: 1;
	width:20px;
	height:55px;
	background:url(../img/bg/bg_y_gradient02.png) 0 0 repeat-y;
}
.category .inner-wrap .swiper-slide {
	display: inline-block;
	width:auto;
	padding:0 10px;
}
.category .inner-wrap .swiper-slide .link {
	display:block;
	color:#333;
	font-size:15px;
	text-align:center;
	line-height:56px;
}
.category .inner-wrap .swiper-slide .link .text {
	display:inline-block;
	position:relative;
	padding:0 5px;
}
/* on */
.category .inner-wrap .swiper-slide.on .link {color:#60b015; font-weight: bold;}
.category .inner-wrap .swiper-slide.on .link .text:before {
	content:'';
	position:absolute;
	left:0;right:0;bottom:0;
	height:2px;
	background-color:#60b015;
}
.category .btn-open {
	position: absolute;
	top:1px; right:0; z-index: 2;
	width:40px; height:55px;
	font-size:0;
	line-height: 0;
	background-color: #f7f7f7;
}
.category .btn-open:before{
	content: '';
	position: absolute;
	top:18px; left:14px;
	width:10px; height:10px;
	border-top:2px solid #333;
	border-right:2px solid #333;
	-webkit-transform:rotate(135deg);
	-ms-transform:rotate(135deg);
	transform:rotate(135deg);
}
.category .btn-open.on:before{
	content: '';
	position: absolute;
	top:23px; left:14px;
	width:10px; height:10px;
	border-top:2px solid #60b015;
	border-right:2px solid #60b015;
	-webkit-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
.category .all-menu {
	display: none;
	position: absolute;
	top:55px; left:0; right:0;
	z-index: 1;
	background-color:#fff;
	padding:7px 10px 12px;
}
.category .all-menu ul li {
	float:left;
	margin:5px 0 0 2%;
	width:32%;
}
.category .all-menu ul li:nth-child(3n+1) {
	margin-left:0;
}
.category .all-menu ul li a {
	display: block;
	height:40px;
	color:#333;
	font-size:13px;
	line-height: 40px;
	text-align: center;
	background-color:#fff;
	border: 1px solid #eee;
	box-sizing: border-box;
}
.category .all-menu ul li.on a {
	color:#fff;
	font-weight: bold;
	background-color:#74b933;
	border:1px solid #74b933;
}
.category .bg-close {
	display: none;
	z-index:1;
}

.sorting-wrap {
	position: relative;
	margin-top:20px;
	padding:6px 10px;
	background-color:#f7f7f7;
	border-top:1px solid #bbb;
}
.sorting-wrap:after {
	content: '';
	display: block;
	clear: both;
}
.sorting-wrap .result-text {
	display: inline-block;
	font-size:16px;
	color:#333;
	line-height: 42px;
	vertical-align: top;
}
.sorting-wrap .result-text .num {
	font-weight: bold;
}
.sorting-wrap .select-box {
	float: right;
	width:150px;
}
.sorting-wrap .select-box.type02 {
	width:200px;
}

.review-slide {margin:0 -12px;}
.review-slide .item {
	position:relative;
	width:296px;
	height: 143px;
	padding-left:120px;
	border:1px solid #eee;
	box-sizing: border-box;
}
.review-slide .item .img-wrap {
	position: absolute;
	top:0; left:0;
	width:120px; height:145px;
	border-right:1px solid #eee;
}
.review-slide .item .img-wrap .box {
	display: block;
	width:100px; height: 82px;
	margin:20px 10px 0;
}
.review-slide .item .img-wrap .box img {
	width:100%; height: auto;
	vertical-align: top;
}
.review-slide .item .img-wrap .name {
	display: block;
	margin:20px 0 10px;
	text-align: center;
	color:#666;
	font-size:13px;
}
.review-slide .item .text-wrap {
	height:100%;
	padding:12px;
	box-sizing: border-box;
}
.review-slide .item .text-wrap .review-icon {
	position: relative;
	padding-left:30px;
	color:#666;
	font-size:15px;
	line-height: 22px;
}
.review-slide .item .text-wrap .review-icon:before {
	content:'';
	position:absolute;
	left:0;top:0;
	width:21px;
	height:21px;
	background-image:url(../img/sprite_ico.png);
	background-repeat:no-repeat;
	background-size:40px 500px;
}
.review-slide .item .text-wrap .review-icon.good:before {background-position:0 -381px;}/* 좋아요 */
.review-slide .item .text-wrap .review-icon.bad:before {background-position:0 -403px;}/* 개선필요 */

.review-slide .item .text-wrap dd {
	display:-webkit-box;
	overflow: hidden;
	width:100%;
	margin-top:4px;
	color:#666;
	font-size:13px;
	line-height: 18px;
	text-overflow:ellipsis;
	word-break:webkit-box;
	-webkit-line-clamp:5;
	-webkit-box-orient:vertical;
	word-wrap:break-word;
}
.review-slide .swiper-slide {width:296px;}
.review-slide .swiper-slide:first-child {margin-left:12px;}
.review-slide .swiper-slide:last-child {margin-right:12px;}

.review-slide .swiper-pagination {
	width:60px;
	margin:13px auto 0;
	color:#aaa;
	font-size:13px;
	line-height: 27px;
	border:1px solid #eee;
	border-radius:10px;
	text-align: center;
}
.review-slide .swiper-pagination .swiper-pagination-current {
	color:#333;
}
