@charset "utf-8";

.wrapper {background-color:#eee;}
/* 슬라이드 공통 */
.page-btn-area {padding:4px 28px 4px 0;}
.page-btn-area .swiper-pagination {
	height:27px;
	padding:0 14px;
	border-radius:25px 0 0 25px;
	background-color:rgba(50,50,50,.5);
	color:#fff;
	font-size:13px;
	line-height:27px;
}
.page-btn-area .btn-more {
	position:absolute;
	right:0;top:0;
	width:35px;
	height:35px;
	border-radius:50%;
	box-shadow:0 2px 5px rgba(0,0,0,.4);
	background-color:#fff;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}
.page-btn-area .btn-more:after,
.page-btn-area .btn-more:before {
	content:'';
	position:absolute;
	left:50%;top:50%;
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	background-color:#333;
}
.page-btn-area .btn-more:after {
	width:14px;
	height:1px;
}
.page-btn-area .btn-more:before {
	width:1px;
	height:14px;
}

/* 상단 비주얼 슬라이드 */
.main-visual-slide {
	position:relative;
}
.main-visual-slide .swiper-slide {}
.main-visual-slide .swiper-slide .link {
	display:block;
	font-size:0;
	line-height:0;
}
.main-visual-slide .swiper-slide img {
	width:100%;
}
.main-visual-slide .btn-prev,
.main-visual-slide .btn-next {
	display:block;
	position:absolute;
	top:50%;
	z-index:5;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
	width:34px;
	height:34px;
}
.main-visual-slide .btn-prev:before,
.main-visual-slide .btn-next:before {
	content:'';
	position:absolute;
	left:50%;top:50%;
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	width:19px;
	height:29px;
	background:url(../img/sprite_btn.png) no-repeat 0 -463px;
	background-size:50px 500px;
}
.main-visual-slide .btn-prev {left:0;}
.main-visual-slide .btn-next {right:0;}
.main-visual-slide .btn-next:before {
	-webkit-transform:translate(-50%,-50%) rotate(-180deg);
	-ms-transform:translate(-50%,-50%) rotate(-180deg);
	transform:translate(-50%,-50%) rotate(-180deg);
}
.main-visual-slide .page-btn-area {
	position:absolute;
	right:10px;bottom:18px;
	z-index:5;
	padding:4px 28px 4px 0;
}

.main-notice-slide {
	padding:6px 5px;
	background-color:#eee;
}
.main-notice-slide .swiper-container {
	overflow:hidden;
	height:36px;
	border:1px solid #ddd;
	background-color:#fff;
}
.main-notice-slide .swiper-slide {}
.main-notice-slide .swiper-slide .link {
	display:block;
	overflow:hidden;
	position:relative;
	width:100%;
	padding:0 15px 0 40px;
	box-sizing:border-box;
	color:#666;
	font-size:13px;
	text-overflow:ellipsis;
	line-height:36px;
	white-space:nowrap;
}
.main-notice-slide .swiper-slide .link:before {
	content:'';
	position:absolute;
	left:15px;top:50%;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
	width:17px;
	height:19px;
	background:url(../img/sprite_ico.png) no-repeat 0 -83px;
	background-size:40px 250px;
}

.box-depth {
	margin-top:10px;
	background-color:#fff;
}
.box-depth .title-area {height:45px;}
.box-depth .title-area .title {
	height:44px;
	border-bottom:1px solid #bbb;
	background-color:#fff;
	color:#333;
	font-size:15px;
	font-weight:bold;
	text-align:center;
	line-height:45px;
}
.box-depth .title-area.fxd .title {
	position:fixed;
	left:0;right:0;top:57px;
	z-index:100;
	background-color:#fff;
}
.box-depth .depth-cont {padding:0 10px 10px;}

.box-depth .depth-cont .tab-area {
	overflow:hidden;
	padding-top:10px;
}
.box-depth .depth-cont .tab-area .item {
	float:left;
	position:relative;
	width:50%;
	height:44px;
	margin:-1px -1px 0 0;
	box-sizing:border-box;
	border:1px solid #ddd;
	background-color:#f7f7f7;
	color:#aaa;
	font-size:15px;
	text-align:center;
	line-height:42px;
}
.box-depth .depth-cont .tab-area .item.on {
	z-index:1;
	border-color:#666;
	background-color:#fff;
	color:#333;
}
.box-depth .depth-cont .tab-cont {padding:10px 0;}
.box-depth .depth-cont .tab-cont .thumb-list2 {display:none;}
.box-depth .depth-cont .tab-cont .thumb-list2.on {display:block;}

/* 이즈음 밥상 */
.recipe-slide {}
.recipe-slide .swiper-slide {}
	.recipe-slide .swiper-slide {}
.recipe-slide {}
