@charset "utf-8";

.wrapper {background-color:#eee;}
.container {padding-bottom:0;}
.footer {
	padding-bottom:20px;
	background-color:#f7f7f7;
}
.footer .uitl-list {
	overflow:hidden;
	padding:0 5px;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
.footer .uitl-list .link {
	float:left;
	position:relative;
	width:31%;
	height:36px;
	color:#666;
	font-size:12px;
	text-align:center;
	line-height:38px;
}
.footer .uitl-list .link:first-child,
.footer .uitl-list .link:last-child {width:19%;}
.footer .uitl-list .link:before {
	content:'';
	position:absolute;
	left:0;top:50%;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
	width:1px;
	height:12px;
	background-color:#ddd;
}
.footer .uitl-list .link:first-child:before {display:none;}
.footer .footer-text {
	padding:18px 10px;
	color:#aaa;
	font-size:11px;
	line-height:15px;
}
.footer .footer-text p {margin-top:10px;}
.footer .footer-btn-area {
	overflow:hidden;
	margin:0 5px;
}
.footer .footer-btn-area .item {
	float:left;
	width:33%;
	padding:0 5px;
	box-sizing:border-box;
}
.footer .footer-btn-area .item:first-child {width:34%;}
.footer .footer-btn-area .item a {
	display:block;
	height:22px;
	border:1px solid #ddd;
	color:#aaa;
	font-size:11px;
	text-align:center;
	line-height:24px;
}
/* 슬라이드 공통 */
.page-btn-area {
	position:relative;
	padding:4px 28px 4px 0;
	max-width:55px;
}
.page-btn-area .swiper-pagination {
	height:27px;
	padding:0 14px;
	border-radius:25px 0 0 25px;
	background-color:rgba(50,50,50,.5);
	color:#fff;
	font-size:13px;
	line-height:29px;
}
.page-btn-area .btn-more {
	position:absolute;
	right:0;top:0;
	width:35px;
	height:35px;
	border-radius:50%;
	box-shadow:0 2px 5px rgba(0,0,0,.4);
	background-color:#fff;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}
.page-btn-area .btn-more:after,
.page-btn-area .btn-more:before {
	content:'';
	position:absolute;
	left:50%;top:50%;
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	background-color:#333;
}
.btn-more:after {
	width:14px;
	height:1px;
}
.btn-more:before {
	width:1px;
	height:14px;
}

.btn-img-prev,
.btn-img-next {
	display:block;
	position:absolute;
	top:50%;
	z-index:5;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
	width:34px;
	height:34px;
}
.btn-img-prev:before,
.btn-img-next:before {
	content:'';
	position:absolute;
	left:50%;top:50%;
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	width:19px;
	height:29px;
	background:url(../img/sprite_btn.png) no-repeat 0 -463px;
	background-size:50px 1000px;
}
.btn-img-prev {left:0;}
.btn-img-next {right:0;}
.btn-img-next:before {
	-webkit-transform:translate(-50%,-50%) rotate(-180deg);
	-ms-transform:translate(-50%,-50%) rotate(-180deg);
	transform:translate(-50%,-50%) rotate(-180deg);
}


/* 상단 비주얼 슬라이드 */
.main-visual-slide {
	position:relative;
}
.main-visual-slide .swiper-slide {}
.main-visual-slide .swiper-slide .link {
	display:block;
	font-size:0;
	line-height:0;
}
.main-visual-slide .swiper-slide img {
	width:100%;
}
.main-visual-slide .page-btn-area {
	position:absolute;
	right:10px;bottom:18px;
	z-index:5;
}

.main-notice-slide {
	padding:6px 5px;
	background-color:#eee;
}
.main-notice-slide .swiper-container {
	overflow:hidden;
	height:36px;
	border:1px solid #ddd;
	background-color:#fff;
}
.main-notice-slide .swiper-slide {}
.main-notice-slide .swiper-slide .link {
	display:block;
	overflow:hidden;
	position:relative;
	width:100%;
	padding:0 15px 0 40px;
	box-sizing:border-box;
	color:#666;
	font-size:13px;
	text-overflow:ellipsis;
	line-height:36px;
	white-space:nowrap;
}
.main-notice-slide .swiper-slide .link:before {
	content:'';
	position:absolute;
	left:15px;top:50%;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
	width:17px;
	height:19px;
	background:url(../img/sprite_ico.png) no-repeat 0 -83px;
	background-size:40px 500px;
}

.box-depth {
	margin-top:10px;
	background-color:#fff;
}
.box-depth .box-title {height:45px;}
.box-depth .box-title .title {
	height:44px;
	border-bottom:1px solid #bbb;
	background-color:#fff;
	color:#333;
	font-size:15px;
	font-weight:bold;
	text-align:center;
	line-height:45px;
}
.box-depth .box-title.fxd .title {
	position:fixed;
	left:0;right:0;top:57px;
	z-index:100;
	background-color:#fff;
}
.box-depth .depth-cont {padding:10px}
.box-depth .depth-cont .tab-cont {padding:10px 0;}
.box-depth .depth-cont .tab-cont .thumb-list2 {display:none;}
.box-depth .depth-cont .tab-cont .thumb-list2.on {display:block;}

/* 이즈음 밥상 */
.recipe-slide {position:relative;}
.recipe-slide .swiper-slide .thumb-list2 {padding:10px 0;}
	.recipe-slide .btn-layer {
		position:absolute;
		left:0;right:0;top:0;
		z-index:5;
	}
.recipe-slide .btn-layer .page-btn-area {
	position:absolute;
	right:10px;bottom:15px;
	z-index:5;
}

/* 한살림 소식 */
.card-news-box {margin-bottom:10px;}


/* 팝업 영역 */
.popup-banner {
	display:none;
	overflow-y:auto;
	position:fixed;
	left:0;right:0;top:0;bottom:0;
	z-index:150;
	background-color:#fff;
}
.popup-banner .banner-box {}
.popup-banner .banner-box .banner {display:block;}
.popup-banner .banner-box .banner .text-area {
	min-height:70px;
	padding:0 30px;
	border-bottom:1px solid #333;
	color:#333;
}
.popup-banner .banner-box .banner:last-child .text-area {border-bottom:0;}
.popup-banner .banner-box .banner .text-area .text {
	padding-top:16px;
	font-size:13px;
	line-height:14px;
}
.popup-banner .banner-box .banner .text-area .title {
	font-size:21px;
	font-weight:bold;
	line-height:29px;
}
.popup-banner .btn-popup-close {
	position:fixed;
	right:0;top:0;
	width:60px;
	height:60px;
	background:url(../img/btn/btn_close_30x30.png) no-repeat 50% 50%;
	background-size:30px 30px;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}
.popup-banner {}
.popup-banner {}
