@charset "utf-8";
/* MW-JO0601.html */
.complete-area .text-grey {
	font-size:15px;
	color:#666;
	line-height:18px;
	text-align:center;
}
.sign-area {}
.sign-area .sign-title {
	position:relative;
	margin-top:15px;
	padding-bottom:8px;
	font-size:19px;
	color:#239bd2;
	line-height:23px;
	text-align:center;
}
.sign-area .sign-title:before {
	content:'';
	position:absolute;
	left:50%; bottom:0;
	display:block;
	width:35px;
	height:2px;
	margin-left:-17.5px;
	background-color:#bbb;
}
.sign-area .sign-text {
	margin-top:8px;
	font-size:11px;
	color:#666;
	line-height:12px;
	text-align:center;
}
.sign-area .sign-img {margin-top:28px;}
.sign-area .sign-img img {width:100%; height:auto; vertical-align:middle;}
.sign-area .news-list {
	overflow:hidden;
	margin-top:40px;
	background-color:#fff;
	border-left:1px solid #ddd;
}
.sign-area .news-list .item-news {
	float:left;
	width:33.33%;
	height:120px;
	padding:13px 10px 22px 10px;
	border:1px solid #eee;
	border-left:0;
	box-sizing:border-box;
}
.sign-area .news-list .item-news dt {
	position:relative;
	padding-bottom:10px;
	border-bottom:1px solid #ddd;
	font-size:15px;
	color:#333;
	line-height:15px;
}
.sign-area .news-list .item-news dt:before {
	content:'';
	display:block;
	position:absolute;
	right:0; top:10px;
	width:5px;
	height:11px;
	background:url(../img/ico/ico_dire_right.gif) no-repeat 0 0;
	background-size:5px 11px;
}
.sign-area .news-list .item-news dd {
	margin-top:8px;
	font-size:11px;
	color:#666;
	line-height:15px;
}
@media only screen and (max-width: 320px) {
	.sign-area .news-list .item-news dd {
		font-size:10px;
	}
}
.sns-area {
	margin-top:10px;
	background-color:#fff;
}
.sns-area .sns-list {}
.sns-area .sns-list .item-sns {
	position:relative;
	padding:17px 10px 17px 49px;
	border:1px solid #ddd;
	box-sizing:border-box;
}
.sns-area .sns-list .item-sns:before {
	content:'';
	display:block;
	position:absolute;
	right:10px; top:50%;
	width:5px;
	height:11px;
	margin-top:-5.5px;
	background:url(../img/ico/ico_dire_right.gif) no-repeat 0 0;
	background-size:5px 11px;
}
.sns-area .sns-list .item-sns.sns01 {
	background:url(../img/ico/ico_sns01.png) no-repeat 10px center;
	background-size:30px;
}
.sns-area .sns-list .item-sns.sns02 {
	border-top:0;
	background:url(../img/ico/ico_sns02.png) no-repeat 10px center;
	background-size:30px;
}
.sns-area .sns-list .item-sns a {
	display:block;
	font-size:13px;
	color:#666;
	line-height:11px;
}

/* 기획전 */
.white-content3 {
	background-color:#fff;
}
/* MW-PD0501.html */
.palan-box {}
.palan-box .palan-img {}
.palan-box .palan-img a {
	display:block;
	position:relative;
}
.palan-box .palan-img img {width:100%; height:auto; vertical-align:middle;}
.palan-box .palan-img .dead-box:before {
	content:'';
	display:block;
	position:absolute;
	left:0; top:0;
	right:0; bottom:0;
	background-color:rgba(0, 0, 0, 0.5);
	background-image:url(../img/ico/ico_dead.png);
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-size:30%;
}
.palan-box .palan-text {
	margin:12px 0;
	text-align:center;
}
.palan-box .palan-text span {display:block;}
.palan-box .palan-text .serve-txt {
	font-size:13px;
	color:#333;
	line-height:19px;
}
.palan-box .palan-text .palan-title {
	font-size:21px;
	color:#333;
	line-height:23px;
	font-weight:bold;
}
.palan-box .palan-text .palan-date {
	margin-top:3px;
	font-size:13px;
	color:#666;
	line-height:19px;
}
/* MW-PD0502.html */
.palan-image {}
.palan-image img {width:100%; height:auto; vertical-align:middle;}

/* MW-PD0503.html */
.palan-content {padding:20px 10px;}

/* MW-PD0504.html */
.palan-com .tab-list4 {padding:1px 10px 0;}
.palan-com .palan-cont .palan-area {padding:0 10px;}
.palan-com .palan-cont .palan-tit {text-align:center;}
.palan-com .palan-cont .palan-tit .tit {
	margin-bottom:10px;
	padding:17px 0 8px;
	font-size:15px;
	color:#333;
	line-height:25px;
	font-weight:bold;
	border-bottom:1px solid #bbb;
}

/* 물품안전 */
.safety-area {}
.safety-area .radia-txt {
	margin-top:12px;
	font-size:13px;
	color:#333;
	line-height:19px;
}
.safety-area .radia-box {
	margin-top:10px;
	padding:7px 10px;
	border:1px solid #ddd;
	box-sizing:border-box;
}
.safety-area .radia-box.first {margin-top:12px;}
.safety-area .radia-box dl {}
.safety-area .radia-box dl dt {
	margin-bottom:6px;
	font-size:13px;
	color:#333;
	line-height:19px;
}
.safety-area.radia-box dl dd {
	font-size:12px;
	color:#333;
	line-height:14px;
}
.safety-area .radia-box dl dd.dete {
	color:#ec7015;
}
.safety-area .radia-box dl dd.radia-date {
	margin-top:2px;
	font-size:11px;
	color:#aaa;
}
.safety-area .green-img {margin-top:15px;}
.safety-area .green-img img {width:100%; height:auto; vertical-align:middle;}
