@charset "utf-8";
/*공통*/
.no-border-top {border-top:0 !important;}
/* MW-JO0601.html */
.sign-area {}
.sign-area .sign-title {
	position:relative;
	margin-top:15px;
	padding-bottom:8px;
	font-size:19px;
	color:#239bd2;
	line-height:23px;
	text-align:center;
}
.sign-area .sign-title:before {
	content:'';
	position:absolute;
	left:50%; bottom:0;
	display:block;
	width:35px;
	height:2px;
	margin-left:-17.5px;
	background-color:#bbb;
}
.sign-area .sign-text {
	margin-top:8px;
	font-size:11px;
	color:#666;
	line-height:12px;
	text-align:center;
}
.sign-area .sign-img {margin-top:28px;}
.sign-area .sign-img img {width:100%; height:auto; vertical-align:middle;}
.sign-area .news-list {
	overflow:hidden;
	margin-top:40px;
	background-color:#fff;
	border-left:1px solid #ddd;
}
.sign-area .news-list .item-news {
	float:left;
	width:33.33%;
	height:120px;
	padding:13px 10px 22px 10px;
	border:1px solid #eee;
	border-left:0;
	box-sizing:border-box;
}
.sign-area .news-list .item-news dt {
	position:relative;
	padding-bottom:10px;
	border-bottom:1px solid #ddd;
	font-size:15px;
	color:#333;
	line-height:15px;
}
.sign-area .news-list .item-news dt:before {
	content:'';
	display:block;
	position:absolute;
	right:0; top:10px;
	width:5px;
	height:11px;
	background:url(../img/ico/ico_dire_right.gif) no-repeat 0 0;
	background-size:5px 11px;
}
.sign-area .news-list .item-news dd {
	margin-top:8px;
	font-size:11px;
	color:#666;
	line-height:15px;
}
.sns-area {
	margin-top:10px;
	background-color:#fff;
}
.sns-area .sns-list {}
.sns-area .sns-list .item-sns {
	position:relative;
	padding:17px 10px 17px 49px;
	border:1px solid #ddd;
	box-sizing:border-box;
}
.sns-area .sns-list .item-sns:before {
	content:'';
	display:block;
	position:absolute;
	right:10px; top:50%;
	width:5px;
	height:11px;
	margin-top:-5.5px;
	background:url(../img/ico/ico_dire_right.gif) no-repeat 0 0;
	background-size:5px 11px;
}
.sns-area .sns-list .item-sns.sns01 {
	background:url(../img/ico/ico_sns01.png) no-repeat 10px center;
	background-size:30px;
}
.sns-area .sns-list .item-sns.sns02 {
	border-top:0;
	background:url(../img/ico/ico_sns02.png) no-repeat 10px center;
	background-size:30px;
}
.sns-area .sns-list .item-sns a {
	display:block;
	font-size:13px;
	color:#666;
	line-height:11px;
}

/* 특별품 */
.special-area {
	border-bottom:1px solid #bbb;
}
.special-area img {
	width:100%;
	height:auto;
	vertical-align: top;
}
.special-goods {
	margin:0 10px 10px;
	border:1px solid #eee;
}
.special-goods .img-wrap {
	width: 100%;
}
.special-goods .img-wrap img {
	width:100%; height:auto;
	vertical-align: top;
}
.special-goods .info-area {
	padding:10px;
}
.special-goods .info-area li {
	position: relative;
	padding-left:5px;
	color:#666;
	font-size:13px;
	line-height: 18px;
}
.special-goods .info-area li:before {
	content: '';
	position: absolute;
	top:8px; left:0;
	width:2px; height: 2px;
	background-color:#333;
}
.special-goods .info-area li .title {
	display: inline-block;
	width:92px;
	font-weight: bold;
	vertical-align: top;
}
/* 기획전 */

/* MW-PD0501.html */
.palan-box {margin-top:6px;}
.palan-box .palan-img {}
.palan-box .palan-img a {display:block; position:relative;}
.palan-box .palan-img img {width:100%; height:auto; vertical-align:middle;}
.palan-box .palan-img .dead-box {
	display:block;
	position:absolute;
	left:0; top:0;
	width:100%;
	height:100%;
	background-color:rgba(63, 61, 59, 0.8);
}
.palan-box .palan-img .dead-box .txt {
	position:absolute;
	left:50%; top:50%;
	font-size:19px;
	color:#fff;
	line-height:18px;
	font-weight:bold;
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-webkit-transform:tanslate(-50%,-50%);
}
.palan-box .palan-text {
	padding:14px;
	border:1px solid #eee;
	border-top:0;
	box-sizing:border-box;
}
.palan-box .palan-text .palan-title {
	font-size:16px;
	color:#333;
	/*line-height:24px;*/
	letter-spacing:-1px;
}
.palan-box .palan-text .palan-title a {
	display:block;
	font-weight:bold;
}
.palan-box .palan-text .palan-title span {
	display: block;
	margin-bottom:2px;
	font-size: 13px;
	font-weight:normal;
	line-height: 17px;
}
.palan-box .palan-text .palan-date {
	margin-top:5px;
	display:block;
	font-size:13px;
	color:#666;
	line-height:19px;
}
/* MW-PD0502.html */
.palan-image {}
.palan-image img {width:100%; height:auto; vertical-align:middle;}

/* MW-PD0503.html */
.palan-content {padding:20px 10px;}

/* MW-PD0504.html */
.palan-cont {padding:15px 10px;}
.palan-cont .palan-area {}
.palan-cont .palan-area .palan-tit {
	padding:24px 0 6px;
	font-size:16px;
	color:#333;
	line-height:28px;
	font-weight:bold;
}

.select-area {display: none;}
.select-area.fixed {
	display: block;
	position:fixed;
	left:0; right:0;
	top:56px;
	padding:8px 10px;
	background-color:#f7f7f7;
	z-index: 20;
}

/* 물품안전 */
.safety-area {}
.safety-area .cTitle01 {
	margin:19px 0 4px;
}
.safety-area .radia-txt {
	margin:36px 0;
	font-size:15px;
	color:#333;
	line-height:22px;
	letter-spacing:-0.5px;
	text-align:center;
}
.safety-area .radia-txt .radia-serve {
	display:block;
	color:#aaa;
}
.safety-area .radia-box {
	padding:12px 0;
	border-bottom:1px solid #ddd;
	box-sizing:border-box;
}
.safety-area .radia-box.first {border-top:1px solid #ddd;}
.safety-area .radia-box dl {position:relative;}
.safety-area .radia-box dl dt {
	margin-bottom:7px;
	font-size:15px;
	color:#333;
	line-height:19px;
	font-weight:bold;
}
.safety-area .radia-box dl dd {
	font-size:14px;
	color:#f04114;
	line-height:14px;
}
.safety-area .radia-box dl dd.radia-date {
	position:absolute;
	right:0; bottom:0;
	font-size:13px;
	color:#666;
	line-height:13px;
}
.safety-area .green-img {margin-top:15px;}
.safety-area .green-img img {width:100%; height:auto; vertical-align:middle;}
.analy-list {overflow:hidden; width:100%;}
.analy-list .item {
	float:left;
	width:50%;
	padding-left:22px;
	font-size:13px;
	color:#666;
	line-height:22px;
	box-sizing:border-box;
}
.analy-list .item.item-analy01 {
	background:url(../img/ico/ico_analy01.gif) no-repeat 0 center;
	background-size:17px 17px;
}
.analy-list .item.item-analy02 {
	background:url(../img/ico/ico_analy02.gif) no-repeat 0 center;
	background-size:17px 17px;
}
.analy-list .item.item-analy03 {
	background:url(../img/ico/ico_analy03.gif) no-repeat 0 center;
	background-size:17px 17px;
}
.analy-list .item.item-analy04 {
	background:url(../img/ico/ico_analy04.gif) no-repeat 0 center;
	background-size:17px 17px;
}
.analy-list .item.item-analy05 {
	background:url(../img/ico/ico_analy05.gif) no-repeat 0 center;
	background-size:17px 17px;
}
.analy-list .item.item-analy06 {
	background:url(../img/ico/ico_analy06.gif) no-repeat 0 center;
	background-size:17px 17px;
}
.safety-area .board1 th .ico-bot {
	display:block;
	position:relative;
}
.safety-area .board1 th .ico-bot:before {
	content:'';
	display:block;
	position:absolute;
	left:50%; top:-22px;
	width:15px;
	height:15px;
	margin-left:-7.5px;
	background:url(../img/ico/ico_bot.png) no-repeat 0 0;
	background-size:15px 15px;
}
.process-list {
	border:1px solid #ccc;
	box-sizing:border-box;
}
.process-list .item {
	position:relative;
	border-top:1px solid #eee;
}
.process-list .item:before {
	content:'';
	display:block;
	position:absolute;
	left:30px; bottom:-8px;
	width:15px;
	height:15px;
	background:url(../img/ico/ico_bot.png) no-repeat 0 0;
	background-size:15px 15px;
	z-index:10;
}
.process-list .item:last-child:before {display:none;}
.process-list .item:first-child {border-top:0;}
.process-list .item dl {display:table; width:100%;}
.process-list .item dl dt,
.process-list .item dl dd  {
	display:table-cell;
	padding:13px 15px;
	background-color:#f7f7f7;
	box-sizing: border-box;
	font-size:15px;
	color:#666;
	line-height:19px;
	vertical-align:middle;
	text-align:center;
}
.process-list .item dl dt {width:75px;}
.process-list .item dl dd {
	background-color:#fff;
	text-align:left;
}
.h-title {line-height:20px !important;}
.safety-area .cTitle06 {
	margin:20px 0 5px;
}
.safety-area .check-tit02 {
	margin:12px 0;
	text-align:center;
}
.safety-area .check-txt {
	font-size:15px;
	color:#333;
	line-height:18px;
}
.safety-area .bullet-list1 .item {
	margin-top:3px;
	font-size:15px;
	color:#666;
	line-height:19px;
}
.safety-area .bullet-list1 .item:first-child {margin-top:0;}
.safety-area .check-txt {
	font-size:15px;
	color:#666;
	line-height:19px;
}
.safety-area .notice-txt {
	padding-left:8px;
	font-size:13px;
	color:#aaa;
	line-height:19px;
	text-indent:-8px;
}
.manage-check {
	margin-top:12px;
	border:1px solid #bbb;
	box-sizing:border-box;
}
.check-list02 {margin-top:7px;}
.check-list02 .item {
	position:relative;
	padding-left:14px;
	font-size:15px;
	color:#666;
	line-height:19px;
}
.check-list02 .item .number {
	position:absolute;
	left:0; top:0;
}
.certifi-img img {width:100%; height:auto; vertical-align:middle;}
.manage-check img {width:100%; height:auto; vertical-align:middle;}

/* 축산물 이력검사 */
.livestock-box {
	margin-top:10px;
	padding:32px 24px 31px 20px;
	background:url(../img/img/img_livest.png) no-repeat right center;
	background-size:142px 147px;
	border:1px solid #eee;
	box-sizing:border-box;
}

.livestock-box .livestock-tit {
	font-size:17px;
	color:#6e4a23;
	line-height:19px;
	font-weight:600;
}
.livestock-box .livestock-txt {
	margin-top:10px;
	font-size:13px;
	color:#666;
	line-height:18px;
}

.search-livesto .form-button-type1 {padding-right:114px;}
.search-livesto .form-button-type1 input {font-size:13px;}
.search-livesto .form-button-type1 .btn {right:46px;}
.safety-area .bullet-list1 .item.ty03 {
	margin-top:6px;
	font-size:13px;
	color:#aaa;
	line-height:18px;
}
.btn-barcode {
	position:absolute;
	right:0; top:0;
	width:42px;
	border:1px solid #ddd;
	background:#fff url(../img/ico/ico_barcode.gif) no-repeat center center;
	background-size:15px 13px;
}

/* 한살림 이야기 */
.news-area {}
.news-area .views-text {
	margin-bottom:7px;
	font-size:16px;
	color:#333;
	line-height:20px;
}
.news-area .views-text .number {font-weight:bold;}

/* 요리 */
/* MW-FO0103.html */
.cooking-cont {}
.cooking-cont .cooking-img {margin-top:-57px;}
.cooking-cont .cooking-img img {width:100%; height:auto; vertical-align:middle;}
.cooking-area {
	margin-bottom:32px;
	padding:0 10px;
}
.cooking-area .cooking-text {
	position:relative;
	padding:17px 0;
	border-bottom:2px solid #eee;
}
.cooking-area .cooking-text .serve-txt {
	font-size:13px;
	color:#333;
	line-height:20px;
}
.cooking-area .cooking-text .cooking-title {
	font-size:22px;
	color:#333;
	line-height:26px;
	font-weight:bold;
}
.cooking-area .cooking-text .btn-like {
	position:absolute;
	right:0; top:50%;
	width:35px;
	height:35px;
	margin-top:-17.5px;
}

.cooking-area .fab-box {
	position:relative;
	padding:18px 0 0;
}
.cooking-area .fab-box dt {
	font-size:17px;
	color:#333;
	line-height:20px;
	font-weight:bold;
}
.cooking-area .fab-box dd {
	font-size:15px;
	color:#666;
	line-height:18px;
}
.cooking-area .fab-box .cook-time {
	position:absolute;
	right:0; top:20px;
	padding-left:17px;
	color:#60b015;
	background:url(../img/ico/ico_time01.png) no-repeat 0 center;
	background-size:12px 12px;
	font-size:13px;
}
.cooking-area .fab-box .servings {
	position:absolute;
	right:0; top:22px;
	padding-left:17px;
	background:url(../img/ico/ico_fork.png) no-repeat 0 center;
	background-size:12px 13px;
	color:#60b015;
}
.cooking-area .fab-box .stuff-list {margin-top:8px;}
.cooking-area .fab-box .stuff-list .item {
	margin-top:7px;
	font-size:15px;
	color:#666;
	line-height:19px;
}
.cooking-area .fab-box .stuff-list .item .title {color:#9e8441;}

.cooking-area .fab-box .fab-list {margin-top:16px;}
.cooking-area .fab-box .fab-list .item {
	position:relative;
	margin-top:8px;
	padding-left:17px;
}
.cooking-area .fab-box .fab-list .item:first-child {margin-top:0;}
.cooking-area .fab-box .fab-list .item .number {
	position:absolute;
	left:0; top:0;
}
.cooking-cont .stuff-img {overflow: hidden;}
.cooking-cont .stuff-img img {width:100%; height:auto; vertical-align:middle;}

.bar-box {
	height:10px;
	margin:30px -12px;
	background-color:#eee;
}
.bar-box02 {
	height:2px;
	margin:0 -12px;
	background-color:#ddd;
}
.thumb-wrap {padding:0 10px 30px;}
.thumb-wrap .thumb-list1 {}
.thumb-wrap .thumb-list1 .box {padding-left:40px;}
.thumb-wrap .thumb-list1 .box:last-child {
	border-bottom:0;
}

.thumb-wrap .align-left {padding:10px; margin: 0 -10px;}
.thumb-wrap .thumb-list1 .box .btn-list {left:170px;}
.thumb-wrap .thumb-list1 .box .link {position:relative;}
.thumb-wrap .thumb-list1 .box .check-wrap {
	position: absolute;
	left:0;
	top:14px;
	margin:0;
}

/* 어린인 식단 상세 */
.child-area {}
.child-com {padding:0 10px 30px;}
.child-area .child-img img {width:100%; height:auto; vertical-align:middle;}
.child-area .child-tlte {
	position:relative;
	padding:18px 0;
	border-bottom:1px solid #eee;
}
.child-area .child-tlte .btn-like {
	position:absolute;
	right:0; top:10px;
	width:35px;
	height:35px;
}
.child-area .child-tlte .child-title {
	color:#333;
	font-size:18px;
	font-weight:bold;
	line-height:20px;
}
.child-area .board1 .cTitle01 {
	margin:15px 0 5px;
	line-height:25px;
}
.child-area .board1 th {text-align:center;}
.child-area .board1 .child-txt {
	max-height:48px;
	line-height:24px;
	word-break:keep-all;
}
.child-area .board1 .child-txt .recipe {
	display:inline-block;
	padding-right:28px;
	background:url(../img/ico/ico_recipe01.gif) no-repeat right 0;
	background-size:24px 22px;
}
.child-area .board1 .notice-child {
	margin-top:10px;
	padding-left:26px;
	background:url(../img/ico/ico_recipe01.gif) no-repeat 0 0;
	background-size:24px 22px;
	font-size:13px;
	color:#666;
	line-height:24px;
}
.child-area .refer-box {
	padding:15px 10px;
	border:1px solid #eee;
	box-sizing:border-box;
}
.child-area .refer-box dl dt {
	margin:15px 0 4px;
	font-size:13px;
	color:#333;
	line-height:12px;
	font-weight:bold;
}
.child-area .refer-box dl dd {
	font-size:13px;
	color:#666;
	line-height:22px;
}
.child-area .box-content1 {margin:0 10px;}
.child-area .box-content1 .box-cont .item.ty01:before {display:none;}

/* MW-FO010301.html */
.photo-area {overflow:hidden;}
.photo-area .btn-call {float:left;}
.photo-area .btn-call .text:before {
	background:url(../img/ico/ico_photo.png) no-repeat 0 0;
	background-size:14px 14px;
}
.photo-area .limit-txt {
	display:block;
	position:absolute;
	right:0; top:7px;
	font-size:13px;
	color:#ccc;
	line-height:12px;
}
.child-area .btn-list1 .item.ty02 {
	width:33.33%;
}
.photo-area .len-text {float:right;}

/* 공유 하기 */
.header .share-box {
	position:absolute;
	right:40px; top:0;
}
.btn-use {
	width:40px;
	height:55px;
	background-color:#fff;
	background-position:0 -946px;
}
.sns-box {
	display:none;
	position:absolute;
	top:36px;
	right:0;
	z-index:1;
	width:100px;
	padding:20px;
	background-color:#fff;
	box-sizing:border-box;
}
.theme-area {
	position:relative;
	margin-top:-57px;
}
.theme-area.ty02 {margin-top:0 !important;}
.theme-area .theme-img {
	position:relative;
}
.theme-area .theme-img::before {
	content:'';
	display:block;
	position:absolute;
	left:0; top:0;
	right:0; bottom:0;
	background-color:rgba(27,27,27,0.7);
}
.theme-area .theme-img img {width:100%; height:auto; vertical-align:middle;}
.theme-area .theme-text {
	position:absolute;
	left:0; bottom:20px;
	right:0;
	padding:0 10px;
}
.theme-area .theme-text .theme-serve {
	font-size:15px;
	color:#fff;
	line-height:24px;
}
.theme-area .theme-text .theme-title {
	font-size:30px;
	color:#fff;
	line-height:39px;
	font-weight:bold;
}
.theme-area .theme-text .theme-box {
	overflow:auto;
	height:240px;
	margin-top:14px;
	padding:22px 25px 30px;
	background-color:#fff;
	box-sizing:border-box;
}
.theme-area .theme-text .theme-box .theme-list {}
.theme-area .theme-text .theme-box .theme-list .item {
	position:relative;
	margin-top:7px;
	padding-left:16px;
	font-size:13px;
	color:#333;
	line-height:17px;
}
.theme-area .theme-text .theme-box .theme-list .item:first-child {margin-top:0;}
.theme-area .theme-text .theme-box .theme-list .item .number {
	position:absolute;
	left:0; top:0;
}
.theme-area .theme-slide .swiper-pagination {
	position:absolute;
	right:10px; bottom:280px;
	width:60px;
    height:27px;
    box-sizing:border-box;
    border-radius:25px;
	background-color:rgba(102,102,102,0.6);
    color:#fff;
    font-size:12px;
    text-align:center;
    line-height:27px;
	z-index:100;
}
.theme-area .simple-search {
	position:absolute;
	left:10px; top:57px;
	right:10px;
	margin:0 auto;
	border:3px solid #fff;
	box-sizing:border-box;
	z-index:100;
}
.theme-area .simple-search .form-button-type1 {
	padding-right:65px;
}
.theme-area .simple-search .form-button-type1 input {
	border:0;
	background-color:inherit;
	color:#fff;
}
/* 신규 요리 */
.new-cont {padding:0 10px 20px;}
.new-cont .new-box {margin-top:10px;}
.new-cont .new-box:first-child {margin-top:0;}
.new-cont .new-box .new-img img {width:100%; height:auto; vertical-align:middle;}
.new-cont .new-box .new-text {
	position:relative;
	padding:12px 0 17px;
	border:1px solid #ddd;
	border-top:0;
	box-sizing:border-box;
}
.new-cont .new-box .new-text .text-area {padding:0 15px;}
.new-cont .new-box .new-text .new-txt .tit {color:#333;}
.new-cont .new-box .new-text .time {
	position:absolute;
	right:15px; top:20px;
	color:#60b015;
}
.new-cont .new-box .new-text .new-silde {margin-top:18px;}
.new-cont .new-box .new-text .new-silde .swiper-slide {
	margin-left:15px;
	width:90px !important;
}
.new-cont .new-box .new-text .new-silde .swiper-slide:first-child {margin-left:0;}
.new-cont .new-box .new-text .new-silde .swiper-slide .img-area {
	position:relative;
	height:90px;
	border:1px solid #eee;
	box-sizing:border-box;
}
.new-cont .new-box .new-text .new-silde .swiper-slide .img-area .ico-label {
	position:absolute;
	left:0; top:0;
}
.new-cont .new-box .new-text .new-silde .swiper-slide .slid-txt {
	position:relative;
	overflow:hidden;
	height:32px;
	margin-top:8px;
	font-size:13px;
	color:#666;
	line-height:16px;
	text-align:center;
	letter-spacing:-1px;
}
.new-cont .new-box .new-text .new-silde .swiper-slide .slid-txt .txt01 {
	display:block;
	position:absolute;
	left:0; top:50%;
	width:100%;
	transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
}

@media only screen and (max-width: 320px) {
	.sign-area .news-list .item-news dd {
		font-size:10px;
	}
	.livestock-box .livestock-tit {
		font-size:15px;
		color:#6e4a23;
		line-height:19px;
		font-weight:600;
	}

}

/* 바코드 검색 */
.barcode-area {position:relative;}
.barcode-area .barcode-img {position:relative; z-index:5;}
.barcode-area .barcode-img img {width:100%; height:auto; vertical-align:middle;}
.barcode-area .barcode-text {
	position:absolute;
	left:20px; top:20px;
	right:20px;
	height:31px;
	font-size:13px;
	color:#fff;
	line-height:31px;
	background-color:rgba(0,0,0,0.5);
	text-align:center;
	z-index:10;
}
.barcode-area .bar-area {
	position:absolute;
	width:15px;
	height:15px;
	z-index:10;
}
.barcode-area .bar01 {
	left:10px; top:10px;
	border-top:2px solid #fff;
	border-left:2px solid #fff;
}
.barcode-area .bar02 {
	right:10px; top:10px;
	border-top:2px solid #fff;
	border-right:2px solid #fff;
}
.barcode-area .bar03 {
	left:10px; bottom:10px;
	border-bottom:2px solid #fff;
	border-left:2px solid #fff;
}
.barcode-area .bar04 {
	right:10px; bottom:10px;
	border-bottom:2px solid #fff;
	border-right:2px solid #fff;
}
/* 나의 한살림 */
.my-area {}
.message-box {
	padding:15px 20px;
	background-color:#f7f7f7;
	border:2px solid #eee;
	text-align:center;
}
.my-area .my-txt {
	font-size:15px;
	color:#666;
	line-height:22px;
}
.birth-area,
.tele-area {overflow:hidden;}
.birth-area .box,
.tele-area .box {
	float:left;
	width:30%;
	padding-left:4px;
	box-sizing:border-box;
}
.birth-area .box:first-child {width:70%; padding-left:0;}
.tele-area .box:first-child {padding-left:0;}
.tele-area .box:last-child {width:70%;}
.form-button-type3 {
	position:relative;
}
/* CMS 임의해지 안내 팝업 */
.pop-area .btn-area {
	margin-top:20px;
	padding:15px 20px 0;
	border-top:1px solid #eee;
}
.layer-popup .pop-cont {padding:15px 20px 0;}
.layer-popup .pop-cont .pop-txt {
	margin-top:6px;
	font-size:15px;
	color:#666;
	line-height:22px;
}
.layer-popup .pop-cont .info-box01 {
	padding:8px 0 15px;
	border:1px solid #eee;
	box-sizing:border-box;
	background-color:#f7f7f7;
	text-align:center;
}
.layer-popup .pop-cont .info-box01 .txt {
	font-size:15px;
	color:#333;
	line-height:25px;
}
.layer-popup .pop-cont .info-box02 {
	padding:15px;
	border:1px solid #eee;
	box-sizing:border-box;
	background-color:#f7f7f7;
}
.layer-popup .pop-cont .info-box02 dl {margin-top:13px;}
.layer-popup .pop-cont .info-box02 dl:first-child {margin-top:0;}
.layer-popup .pop-cont .info-box02 dl dt,
.layer-popup .pop-cont .info-box02 dl dd {
	font-size:15px;
	color:#333;
	line-height:23px;
}
.layer-popup .pop-cont .info-box02 dl dd {
	padding-left:15px;
	color:#666;
	line-height:18px;
}
.layer-popup .pop-cont .info-box02 dl dd .notice-txt {
	margin-top:5px;
	font-size:13px;
	color:#aaa;
	line-height:17px;
}

/* 나의 알림 */
.btn-notice-set {
	width:99px;
	height:42px;
}
.btn-notice-set .text {
	height:42px;
	padding-left:22px;
	font-size:14px;
	line-height:42px;
}
.notice-txt02 {
	padding:0 10px;
	font-size:13px;
	color:#aaa;
	line-height:16px;
	background-color:#fff;
}
.my-notice-area .cTitle01 {
	display:inline-block;
	vertical-align:middle;
}
.my-notice-list {
	border-top:1px solid #bbb;
}
.my-notice-list .item {
	display:table;
	width:100%;
	padding:16px 0 18px;
	border-top:1px solid #eee;
	box-sizing: border-box;
}
.my-notice-list .item:first-child {border-top:0;}
.my-notice-list .item.last {border-bottom:1px solid #eee;}
.my-notice-list .item .my-notice-text {
	display:table-cell;
	vertical-align:middle;
}
.my-notice-list .item .my-notice-text .my-notice-tit {
	font-size:15px;
	color:#333;
	line-height:22px;
}
.my-notice-list .item .my-notice-text .my-notice-tit .label-tit {
	display:inline-block;
	position:relative;
	margin-right:8px;
	font-size:13px;
	color:#60b015;
	line-height:17px;
	font-weight:bold;
}
.my-notice-list .item .my-notice-text .my-notice-tit .label-tit:before {
	content:'';
	display:block;
	position:absolute;
	left:0; bottom:0;
	width:100%;
	border-bottom:1px solid #60b015;
}
.my-notice-list .item .my-notice-text .my-notice-txt {
	margin-top:3px;
	font-size:14px;
	color:#666;
	line-height:18px;
}

.mark-txt {
	display:inline-block;
    padding:0 12px;
    font-size:13px;
    font-weight:bold;
    line-height:20px;
    border-radius:10px;
    color:#239bd2;
    border:1px solid #239bd2;
    vertical-align:middle;
}
/* 나의 알림 설정 팝업 */
.pop-area .pop-notice-list {}
.pop-area .pop-notice-list .item {
	position:relative;
	width:100%;
	padding:15px 0;
	border-top:1px solid #eee;
	box-sizing:border-box;
	vertical-align:middle;
}
.pop-area .pop-notice-list .item:first-child {border-top:0;}
.pop-area .pop-notice-list .item .title {
	width:100%;
	font-size:15px;
	color:#333;
	line-height:14px;
	vertical-align:middle;
}
.pop-area .pop-notice-list .item .btn-pop-onoff {
	position:absolute;
	right:0; top:50%;
	transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
}

/* 주소록 관리 */
.tab-cont {display:none;}
.tab-cont.on {display:block;}
.shipping-list {}
.shipping-list .item-ship {
	padding:20px 0 25px;
	border-bottom:1px solid #eee;
}
.shipping-list .item-ship:first-child {padding-top:0;}
.shipping-list .item-ship dl {
	position:relative;
}
.shipping-list .item-ship dl dt {
	font-size:15px;
	color:#333;
	line-height:16px;
	font-weight:bold;
}
.shipping-list .item-ship dl dd {
	font-size:15px;
	color:#666;
	line-height:18px;
}
.shipping-list .item-ship dl dd .address-text {
	margin-top:12px;
}
.shipping-list .item-ship dl dd .tel {
	display:block;
	margin-top:6px;
}
.shipping-list .item-ship dl dd.btn-box {
	position:absolute;
	right:0; bottom:-15px;
}

/* 카드 신청 */
.btn-card-apply {
	width:80px;
}

/* 쿠폰 */
.coupon-area {
	margin:20px -10px;
	padding:20px 10px 0;
	border-top:10px solid #eee;
}
.no-noresult {
	padding:65px 0;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	text-align:center;
}
.no-noresult .txt {
	font-size:15px;
	color:#aaa;
	line-height:19px;
}
.coupon-area .coupon-box {}
.coupon-area .coupon-box dl {
	position:relative;
	overflow:hidden;
	padding-left:120px;
}
.coupon-area .coupon-box dl dt {
	padding-top:23px;
	font-size:16px;
	color:#333;
	line-height:15px;
	font-weight:bold;
}
.coupon-area .coupon-box dl dd.serve-txt {
	position:absolute;
	left:120px; top:0;
	font-size:13px;
	line-height:20px;
	font-weight:bold;
}
.coupon-area .coupon-box dl dd.dete-txt {
	margin-top:5px;
	font-size:13px;
	color:#666;
	line-height:15px;
}
.coupon-area .coupon-box dl dd.coupon-img {
	position:absolute;
	left:0; top:0;
	width:105px;
	height:60px;
}
.coupon-area .coupon-box dl dd.coupon-img img {width:100%; height:auto; vertical-align:middle;}
.coupon-area .notice-box {
	margin:0 0 10px;
	padding:10px 15px;
	background-color:#f7f7f7;
}
.coupon-area .notice-box .bullet-list1 .item {
	font-size:13px;
	color:#666;
	line-height:22px;
}
.coupon-cont {margin-top:10px;}
.coupon-cont .thumb-list8 {
	overflow:hidden;
	margin:0 -2px;
}
.coupon-cont .thumb-list8 .box {
	float:left;
	position:relative;
	width:50%;
	padding:2px;
	box-sizing:border-box;
}
.coupon-cont .thumb-list8 .box:nth-child(1),
.coupon-cont .thumb-list8 .box:nth-child(2) {
	border-top:0;
}
.coupon-cont .thumb-list8 .box:nth-child(2n+2) {
	border-right:0;
}
.coupon-cont .thumb-list8 .box .link {
	display:block;
	padding:15px 0 13px;
	border:1px solid #eee;
}
.thumb-list8 .box .ico-label {
	position:absolute;
	left:43px; top:16px;
}
.coupon-cont .thumb-list8 .box .img-area {
	width:78px;
	height:78px;
	margin:0 auto;
}
.coupon-cont .thumb-list8 .box .text-area {
	margin-top:14px;
	height:32px;
	padding:0 40px;
	text-align:center;
}
.coupon-cont .thumb-list8 .box .text-area .name {
	font-size:13px;
	color:#666;
	line-height:16px;
}
.coupon-area .sale-text-box {
	border:1px solid #eee;
	padding:38px 10px;
	color:#666;
	font-size:13px;
	font-weight:bold;
	text-align:center;
	line-height:18px;
}

/* 1:1상담 팝업*/
.consul-area .cTitle02 {font-weight:bold;}
.consul-area .btn-list2 {margin:0;}

/* 적립금 적립제도 이용안내 팝업 */
.accumu-inst {}
.accumu-inst .accumu-txt {
	font-size:15px;
	color:#333;
	line-height:20px;
}
.accumu-inst dl {}
.accumu-inst dl dt {
	margin-top:32px;
	font-size:16px;
	color:#333;
	line-height:20px;
	font-weight:bold;
}
.accumu-inst dl dd {
	margin-top:5px;
	font-size:15px;
	color:#666;
	line-height:20px;
}
.accumu-inst .accumu-notice-box {
	margin-top:17px;
	padding:7px 10px;
	border:2px solid #eee;
	box-sizing:border-box;
}

/* 적립금사용신청 팝업 */
.accumu-inst {}
.accumu-inst .cTitle02 {font-weight:bold;}
.accumu-inst .form-list3 {border-top:2px solid #ddd;}
.accumu-inst .form-list3 .form-item {
	padding:12px 0 15px;
	border-bottom:2px solid #eee;
}
.accumu-inst .form-list3 .form-item:last-child {border-bottom:0;}
.swit-rese-box {}
.swit-rese-box .btn-article,
.swit-rese-box .btn-lnvest {vertical-align:middle;}
.mg-on {margin:0;}
.tip {
	position:relative;
	display:inline-block;
	width:20px;
	height:20px;
	margin-left:6px;
	background:url(../img/btn/btn_question.png) no-repeat 0 0;
	background-size:20px 20px;
	vertical-align:middle;
}
.tip .inner-box {
	display:none;
	position:absolute;
	left:-160px; top:18px;
	padding-top:5px;
	z-index:10;
	-webkit-transform:translateX(80px);
	-ms-transform:translateX(80px);
	transform:translateX(80px);
}
.tip .inner-box:before {
	content: '';
	position: absolute;
	top:3px; left:50%;
	width:3px; height:2px;
	margin-left:-1px;
	background:url(../img/img/img_bubble02.png) 0 0 no-repeat;
	background-size:3px 2px;
}
.tip .inner-box div {
	padding:5px;
	font-size:13px;
	color:#666;
	line-height:18px;
	text-align:left;
	background-color:#fff;
	border:1px solid #60b015;
}
.tip .inner-box div p {margin-top:3px;}
.tip .inner-box div p:first-child {margin-top:0;}
.tip:hover .inner-box {
	display:block;
}
.swit-rese-box .dead-balan {
	display:block;
	margin:5px 0 0 36px;
	font-size:13px;
	color:#666;
	line-height:20px;
}
.swit-rese-box .dead-balan .price {
	font-weight:bold;
}
.swit-rese-box .gift-addr {
	display:block;
	margin:8px 0 0 36px;
}
.unit-box {position:relative;}
.unit-box:before {
	content:'원';
	display:block;
	position:absolute;
	right:15px; top:13px;
	font-size:15px;
	line-height:14px;
	color:#666;
}
.accumu-inst .use-price {
	position:absolute;
	right:0; top:7px;
	font-size:14px;
	color:#666;
	line-height:20px;
}
.accumu-inst .use-price span {font-weight:bold;}

.apply-history {}
.apply-history .no-noresult {border-color:#eee;}
.apply-history-list {}
.apply-history-list .history-item {
	overflow:hidden;
	width:100%;
	padding:10px 0;
	border-bottom:2px solid #eee;
}
.apply-history-list .history-item:first-child {border-top:2px solid #eee;}
.apply-history-list .history-item .history-txt {
	float:left;
	overflow:hidden;
	width:150px;
	font-size:15px;
	color:#333;
	line-height:20px;
}
.apply-history-list .history-item .history-txt .date {
	display:block;
	margin-top:2px;
	font-size:13px;
	color:#666;
	line-height:20px;
}
.apply-history-list .history-item .price-btn-box {
	float:right;
	margin:6px 0;
}
.apply-history-list .history-item .price-history {
	display:inline-block;
	height:30px;
	margin-right:10px;
	font-size:15px;
	color:#666;
	line-height:30px;
	vertical-align:middle;
}
.apply-history-list .history-item .price-history .number {
	font-weight:bold;
	color:#333;
}

/* 간편주문 팝업 */
.bar-box01 {
	height:1px;
	margin:18px -10px 12px;
	background-color:#eee;
}
.easy-area {}
.easy-area .result-info dd {margin-left:77px;}
.easy-area .notice-easy {
	margin-top:18px;
	font-size:13px;
	color:#aaa;
	line-height:20px;
}
.easy-area .easy-list {}
.easy-area .easy-list .item-easy {
	position:relative;
	padding:15px 0;
	border-bottom:1px solid #eee;
}
.easy-area .easy-list .item-easy:last-child {border-bottom:0;}
.easy-area .easy-list .item-easy .easy-txt {
	padding-bottom:8px;
	font-size:15px;
	color:#333;
	line-height:20px;
}
.easy-area .easy-list .item-easy .price-easy {
	position:absolute;
	right:0; bottom:20px;
	font-size:15px;
	color:#333;
	line-height:20px;
}
.easy-area .easy-list .item-easy .price-easy .number {
	font-weight:bold;
}
.easy-area .gun-payment .gun-area .gun-list .item .price .gun-number {font-size: 19px}

.gun-payment {
	margin:0 -10px;
	border-bottom:2px solid #ccc;
	background-color:#f7f7f7;
}
.gun-payment .gun-area {padding:12px 10px;}
.gun-payment .gun-area .gun-list {}
.gun-payment .gun-area .gun-list .item {
	margin-top:7px;
	font-size:15px;
	color:#333;
	line-height:20px;
}
.gun-payment .gun-area .gun-list .item:first-child {margin-top:0;}
.gun-payment .gun-area .gun-list .item.gun-item {
	padding-top:12px;
	border-top:1px solid #e7e7e7;
}
.gun-payment .gun-area .gun-list .item .price {
	float:right;
}
.gun-payment .gun-area .gun-list .item .price .number {font-weight:bold;}
.gun-payment .gun-area .gun-list .item .price .gun-number {
	font-size:19px;
	font-weight:bold;
}

.payment-area .cTitle02 {font-weight:bold;}
.payment-area .payment-txt {
	margin-top:26px;
	font-size:15px;
	color:#333;
	line-height:22px;
	font-weight:bold;
}
/* 거래정보 */
/* 주문조회 */
.flag.bg2 {background-color:#86669c;}
.flag.bg3 {background-color:#9c7141;}
.select-price {
	overflow:hidden;
	padding:7px 0;
}
.select-price .num-select {
	float:left;
	width:105px;
}
.select-price .price-wrap {
	float:right;
}
.convey-words .cTitle02 {
	padding-left:0;
	line-height:35px;
	font-weight:bold;
}
.convey-words .byte-text {
	top:14px !important;
	line-height:14px !important;
}
.convey-words .txt2 {
	margin-top:7px;
	font-size:13px;
	color:#aaa;
	line-height:19px;
}
.btn-way-look {
	margin-left:10px;
	vertical-align:middle;
}
.line-h34 {line-height:34px !important;}
.border01 {border-top:1px solid #eee;}
.gun-box {padding:20px 0;}
