@charset "utf-8";
/* MW-JO0601.html */
.sign-area {}
.sign-area .sign-title {
	position:relative;
	margin-top:15px;
	padding-bottom:8px;
	font-size:19px;
	color:#239bd2;
	line-height:23px;
	text-align:center;
}
.sign-area .sign-title:before {
	content:'';
	position:absolute;
	left:50%; bottom:0;
	display:block;
	width:35px;
	height:2px;
	margin-left:-17.5px;
	background-color:#bbb;
}
.sign-area .sign-text {
	margin-top:8px;
	font-size:11px;
	color:#666;
	line-height:12px;
	text-align:center;
}
.sign-area .sign-img {margin-top:28px;}
.sign-area .sign-img img {width:100%; height:auto; vertical-align:middle;}
.sign-area .news-list {
	overflow:hidden;
	margin-top:40px;
	background-color:#fff;
	border-left:1px solid #ddd;
}
.sign-area .news-list .item-news {
	float:left;
	width:33.33%;
	height:120px;
	padding:13px 10px 22px 10px;
	border:1px solid #eee;
	border-left:0;
	box-sizing:border-box;
}
.sign-area .news-list .item-news dt {
	position:relative;
	padding-bottom:10px;
	border-bottom:1px solid #ddd;
	font-size:15px;
	color:#333;
	line-height:15px;
}
.sign-area .news-list .item-news dt:before {
	content:'';
	display:block;
	position:absolute;
	right:0; top:10px;
	width:5px;
	height:11px;
	background:url(../img/ico/ico_dire_right.gif) no-repeat 0 0;
	background-size:5px 11px;
}
.sign-area .news-list .item-news dd {
	margin-top:8px;
	font-size:11px;
	color:#666;
	line-height:15px;
}
.sns-area {
	margin-top:10px;
	background-color:#fff;
}
.sns-area .sns-list {}
.sns-area .sns-list .item-sns {
	position:relative;
	padding:17px 10px 17px 49px;
	border:1px solid #ddd;
	box-sizing:border-box;
}
.sns-area .sns-list .item-sns:before {
	content:'';
	display:block;
	position:absolute;
	right:10px; top:50%;
	width:5px;
	height:11px;
	margin-top:-5.5px;
	background:url(../img/ico/ico_dire_right.gif) no-repeat 0 0;
	background-size:5px 11px;
}
.sns-area .sns-list .item-sns.sns01 {
	background:url(../img/ico/ico_sns01.png) no-repeat 10px center;
	background-size:30px;
}
.sns-area .sns-list .item-sns.sns02 {
	border-top:0;
	background:url(../img/ico/ico_sns02.png) no-repeat 10px center;
	background-size:30px;
}
.sns-area .sns-list .item-sns a {
	display:block;
	font-size:13px;
	color:#666;
	line-height:11px;
}

/* 특별품 */
.special-area {
	border-bottom:1px solid #bbb;
}
.special-area img {
	width:100%;
	height:auto;
	vertical-align: top;
}
.special-goods {
	margin:0 10px 10px;
	border:1px solid #eee;
}
.special-goods .img-wrap {
	width: 100%;
}
.special-goods .img-wrap img {
	width:100%; height:auto;
	vertical-align: top;
}
.special-goods .info-area {
	padding:10px;
}
.special-goods .info-area li {
	position: relative;
	padding-left:5px;
	color:#666;
	font-size:13px;
	line-height: 18px;
}
.special-goods .info-area li:before {
	content: '';
	position: absolute;
	top:8px; left:0;
	width:2px; height: 2px;
	background-color:#333;
}
.special-goods .info-area li .title {
	display: inline-block;
	width:92px;
	font-weight: bold;
	vertical-align: top;
}
/* 기획전 */

/* MW-PD0501.html */
.palan-box {margin-top:6px;}
.palan-box .palan-img {}
.palan-box .palan-img a {display:block; position:relative;}
.palan-box .palan-img img {width:100%; height:auto; vertical-align:middle;}
.palan-box .palan-img .dead-box {
	display:block;
	position:absolute;
	left:0; top:0;
	width:100%;
	height:100%;
	background-color:rgba(63, 61, 59, 0.8);
}
.palan-box .palan-img .dead-box .txt {
	position:absolute;
	left:50%; top:50%;
	font-size:19px;
	color:#fff;
	line-height:18px;
	font-weight:bold;
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-webkit-transform:tanslate(-50%,-50%);
}
.palan-box .palan-text {
	padding:16px 14px 14px;
	border:1px solid #eee;
	border-top:0;
	box-sizing:border-box;
}
.palan-box .palan-text .palan-title {
	font-size:16px;
	color:#333;
	/*line-height:24px;*/
	letter-spacing:-1px;
}
.palan-box .palan-text .palan-title span {
	display: block;
	font-size: 13px;
	line-height: 13px;
}
.palan-box .palan-text .palan-date {
	margin-top:5px;
	display:block;
	font-size:13px;
	color:#666;
	line-height:19px;
}
/* MW-PD0502.html */
.palan-image {}
.palan-image img {width:100%; height:auto; vertical-align:middle;}

/* MW-PD0503.html */
.palan-content {padding:20px 10px;}

/* MW-PD0504.html */
.palan-cont {padding:15px 10px;}
.palan-cont .palan-area {}
.palan-cont .palan-area .palan-tit {
	padding:24px 0 6px;
	font-size:16px;
	color:#333;
	line-height:28px;
	font-weight:bold;
}

.select-area {display: none;}
.select-area.fixed {
	display: block;
	position:fixed;
	left:0; right:0;
	top:56px;
	padding:8px 10px;
	background-color:#f7f7f7;
	z-index: 20;
}

/* 물품안전 */
.safety-area {}
.safety-area .cTitle01 {
	margin:19px 0 4px;
}
.safety-area .radia-txt {
	margin:36px 0;
	font-size:15px;
	color:#333;
	line-height:22px;
	letter-spacing:-0.5px;
	text-align:center;
}
.safety-area .radia-txt .radia-serve {
	display:block;
	color:#aaa;
}
.safety-area .radia-box {
	padding:12px 0;
	border-bottom:1px solid #ddd;
	box-sizing:border-box;
}
.safety-area .radia-box.first {border-top:1px solid #ddd;}
.safety-area .radia-box dl {position:relative;}
.safety-area .radia-box dl dt {
	margin-bottom:7px;
	font-size:15px;
	color:#333;
	line-height:19px;
	font-weight:bold;
}
.safety-area .radia-box dl dd {
	font-size:14px;
	color:#f04114;
	line-height:14px;
}
.safety-area .radia-box dl dd.radia-date {
	position:absolute;
	right:0; bottom:0;
	font-size:13px;
	color:#666;
	line-height:13px;
}
.safety-area .green-img {margin-top:15px;}
.safety-area .green-img img {width:100%; height:auto; vertical-align:middle;}
.analy-list {overflow:hidden; width:100%;}
.analy-list .item {
	float:left;
	width:50%;
	padding-left:22px;
	font-size:13px;
	color:#666;
	line-height:22px;
	box-sizing:border-box;
}
.analy-list .item.item-analy01 {
	background:url(../img/ico/ico_analy01.gif) no-repeat 0 center;
	background-size:17px 17px;
}
.analy-list .item.item-analy02 {
	background:url(../img/ico/ico_analy02.gif) no-repeat 0 center;
	background-size:17px 17px;
}
.analy-list .item.item-analy03 {
	background:url(../img/ico/ico_analy03.gif) no-repeat 0 center;
	background-size:17px 17px;
}
.analy-list .item.item-analy04 {
	background:url(../img/ico/ico_analy04.gif) no-repeat 0 center;
	background-size:17px 17px;
}
.analy-list .item.item-analy05 {
	background:url(../img/ico/ico_analy05.gif) no-repeat 0 center;
	background-size:17px 17px;
}
.analy-list .item.item-analy06 {
	background:url(../img/ico/ico_analy06.gif) no-repeat 0 center;
	background-size:17px 17px;
}
.safety-area .board1 th .ico-bot {
	display:block;
	position:relative;
}
.safety-area .board1 th .ico-bot:before {
	content:'';
	display:block;
	position:absolute;
	left:50%; top:-22px;
	width:15px;
	height:15px;
	margin-left:-7.5px;
	background:url(../img/ico/ico_bot.png) no-repeat 0 0;
	background-size:15px 15px;
}
.process-list {
	border:1px solid #ccc;
	box-sizing:border-box;
}
.process-list .item {
	position:relative;
	border-top:1px solid #eee;
}
.process-list .item:before {
	content:'';
	display:block;
	position:absolute;
	left:30px; bottom:-8px;
	width:15px;
	height:15px;
	background:url(../img/ico/ico_bot.png) no-repeat 0 0;
	background-size:15px 15px;
	z-index:10;
}
.process-list .item:last-child:before {display:none;}
.process-list .item:first-child {border-top:0;}
.process-list .item dl {display:table; width:100%;}
.process-list .item dl dt,
.process-list .item dl dd  {
	display:table-cell;
	padding:13px 15px;
	background-color:#f7f7f7;
	box-sizing: border-box;
	font-size:15px;
	color:#666;
	line-height:19px;
	vertical-align:middle;
	text-align:center;
}
.process-list .item dl dt {width:75px;}
.process-list .item dl dd {
	background-color:#fff;
	text-align:left;
}
.h-title {line-height:20px !important;}
.safety-area .cTitle06 {
	margin:20px 0 5px;
}
.safety-area .check-tit02 {
	margin:12px 0;
	text-align:center;
}
.safety-area .check-txt {
	font-size:15px;
	color:#333;
	line-height:18px;
}
.safety-area .bullet-list1 .item {
	margin-top:3px;
	font-size:15px;
	color:#666;
	line-height:19px;
}
.safety-area .bullet-list1 .item:first-child {margin-top:0;}
.safety-area .check-txt {
	font-size:15px;
	color:#666;
	line-height:19px;
}
.safety-area .notice-txt {
	padding-left:8px;
	font-size:13px;
	color:#aaa;
	line-height:19px;
	text-indent:-8px;
}
.manage-check {
	margin-top:12px;
	border:1px solid #bbb;
	box-sizing:border-box;
}
.check-list02 {margin-top:7px;}
.check-list02 .item {
	position:relative;
	padding-left:14px;
	font-size:15px;
	color:#666;
	line-height:19px;
}
.check-list02 .item .number {
	position:absolute;
	left:0; top:0;
}
.certifi-img img {width:100%; height:auto; vertical-align:middle;}
.manage-check img {width:100%; height:auto; vertical-align:middle;}

/* 축산물 이력검사 */
.livestock-box {
	margin-top:10px;
	padding:32px 24px 31px 20px;
	background:url(../img/img/img_livest.png) no-repeat right center;
	background-size:142px 147px;
	border:1px solid #eee;
	box-sizing:border-box;
}

.livestock-box .livestock-tit {
	font-size:17px;
	color:#6e4a23;
	line-height:19px;
	font-weight:600;
}
.livestock-box .livestock-txt {
	margin-top:10px;
	font-size:13px;
	color:#666;
	line-height:18px;
}

.search-livesto .form-button-type1 {padding-right:114px;}
.search-livesto .form-button-type1 input {font-size:13px;}
.search-livesto .form-button-type1 .btn {right:46px;}
.safety-area .bullet-list1 .item.ty03 {
	margin-top:6px;
	font-size:13px;
	color:#aaa;
	line-height:18px;
}
.btn-barcode {
	position:absolute;
	right:0; top:0;
	width:42px;
	border:1px solid #ddd;
	background:#fff url(../img/ico/ico_barcode.gif) no-repeat center center;
	background-size:15px 13px;
}

/* 한살림 소식 */
.news-area {}
.news-area .views-text {
	margin-bottom:7px;
	font-size:16px;
	color:#333;
	line-height:20px;
}
.news-area .views-text .number {font-weight:bold;}

/* 요리 */
/* MW-FO0103.html */
.cooking-cont {}
.cooking-cont .cooking-img {margin-top:-57px;}
.cooking-cont .cooking-img img {width:100%; height:auto; vertical-align:middle;}
.cooking-area {padding:0 10px;}
.cooking-area .cooking-text {
	position:relative;
	padding:17px 0;
	border-bottom:2px solid #eee;
}
.cooking-area .cooking-text .serve-txt {
	font-size:13px;
	color:#333;
	line-height:20px;
}
.cooking-area .cooking-text .cooking-title {
	font-size:22px;
	color:#333;
	line-height:26px;
	font-weight:bold;
}
.cooking-area .cooking-text .btn-like {
	position:absolute;
	right:0; top:50%;
	width:35px;
	height:35px;
	margin-top:-17.5px;
}

.cooking-area .fab-box {
	position:relative;
	padding:18px 0 0;
}
.cooking-area .fab-box dt {
	font-size:17px;
	color:#333;
	line-height:20px;
	font-weight:bold;
}
.cooking-area .fab-box dd {
	font-size:15px;
	color:#666;
	line-height:18px;
}
.cooking-area .fab-box .cook-time {
	position:absolute;
	right:0; top:20px;
	padding-left:17px;
	color:#60b015;
	background:url(../img/ico/ico_time01.png) no-repeat 0 center;
	background-size:12px 12px;
	font-size:13px;
}
.cooking-area .fab-box .servings {
	position:absolute;
	right:0; top:22px;
	padding-left:17px;
	background:url(../img/ico/ico_fork.png) no-repeat 0 center;
	background-size:12px 13px;
	color:#60b015;
}
.cooking-area .fab-box .stuff-list {margin-top:8px;}
.cooking-area .fab-box .stuff-list .item {
	margin-top:7px;
	font-size:15px;
	color:#666;
	line-height:19px;
}
.cooking-area .fab-box .stuff-list .item .title {color:#9e8441;}

.cooking-area .fab-box .fab-list {margin-top:16px;}
.cooking-area .fab-box .fab-list .item {
	position:relative;
	margin-top:8px;
	padding-left:17px;
}
.cooking-area .fab-box .fab-list .item:first-child {margin-top:0;}
.cooking-area .fab-box .fab-list .item .number {
	position:absolute;
	left:0; top:0;
}
.cooking-cont .stuff-img {margin-top:32px;}
.cooking-cont .stuff-img img {width:100%; height:auto; vertical-align:middle;}

.bar-box {
	height:10px;
	margin:30px -12px;
	background-color:#eee;
}
.bar-box02 {
	height:2px;
	margin:0 -12px;
	background-color:#ddd;
}
.cooking-cont .thumb-wrap {padding:0 10px;}
.cooking-cont .thumb-wrap .thumb-list1 {}
.cooking-cont .thumb-wrap .thumb-list1 .box {padding-left:40px;}

.thumb-wrap .align-left.bg-gray {padding:10px; margin: 0 -10px;}
.cooking-cont .thumb-wrap .thumb-list1 .box .btn-list {left:170px;}
.cooking-cont .thumb-wrap .thumb-list1 .box .link {position:relative;}
.cooking-cont .thumb-wrap .thumb-list1 .box .check-wrap {
	position: absolute;
	left:0;
	top:14px;
}

/* 어린인 식단 상세 */
.child-area {}
.child-area .thumb-wrap {padding:0 10px;}
.child-com {padding:0 10px 12px;}
.child-area .child-img img {width:100%; height:auto; vertical-align:middle;}
.child-area .child-tlte {
	position:relative;
	padding:18px 0;
	border-bottom:2px solid #ccc;
}
.child-area .child-tlte .btn-like {
	position:absolute;
	right:0; top:10px;
	width:35px;
	height:35px;
}
.child-area .child-tlte .child-title {
	color:#333;
	font-size:18px;
	font-weight:bold;
	line-height:20px;
}
.child-area .board1 .cTitle01 {
	margin:15px 0 5px;
	line-height:25px;
}
.child-area .board1 th {text-align:center;}
.child-area .board1 .child-txt {
	max-height:48px;
	line-height:24px;
	word-break:keep-all;
}
.child-area .board1 .child-txt .recipe {
	display:inline-block;
	padding-right:28px;
	background:url(../img/ico/ico_recipe01.gif) no-repeat right 0;
	background-size:24px 22px;
}
.child-area .board1 .notice-child {
	margin-top:10px;
	padding-left:26px;
	background:url(../img/ico/ico_recipe01.gif) no-repeat 0 0;
	background-size:24px 22px;
	font-size:13px;
	color:#666;
	line-height:24px;
}
.child-area .refer-box {
	padding:15px 10px;
	border:1px solid #eee;
	box-sizing:border-box;
}
.child-area .refer-box dl dt {
	margin:15px 0 4px;
	font-size:13px;
	color:#333;
	line-height:12px;
	font-weight:bold;
}
.child-area .refer-box dl dd {
	font-size:13px;
	color:#666;
	line-height:22px;
}
.child-area .box-content1 {margin:0 10px;}
.child-area .box-content1 .box-cont .item.ty01:before {display:none;}

/* MW-FO010301.html */
.photo-area {overflow:hidden;}
.photo-area .btn-call {float:left;}
.photo-area .btn-call .text:before {
	background:url(../img/ico/ico_photo.png) no-repeat 0 0;
	background-size:14px 14px;
}
.photo-area .limit-txt {
	display:block;
	position:absolute;
	right:0; top:7px;
	font-size:13px;
	color:#ccc;
	line-height:12px;
}
.child-area .btn-list1 .item.ty02 {
	width:33.33%;
}
.photo-area .len-text {float:right;}

/* 공유 하기 */
.header .share-box {
	position:absolute;
	right:40px; top:0;
}
.btn-use {
	width:40px;
	height:55px;
	background-color:#fff;
	background-position:0 -946px;
}
.sns-box {
	display:none;
	position:absolute;
	top:36px;
	right:0;
	z-index:1;
	width:100px;
	padding:20px;
	background-color:#fff;
	box-sizing:border-box;
}
.theme-area {
	position:relative;
	margin-top:-57px;
}
.theme-area.ty02 {margin-top:0 !important;}
.theme-area .theme-img {
	position:relative;
}
.theme-area .theme-img::before {
	content:'';
	display:block;
	position:absolute;
	left:0; top:0;
	right:0; bottom:0;
	background-color:rgba(27,27,27,0.7);
}
.theme-area .theme-img img {width:100%; height:auto; vertical-align:middle;}
.theme-area .theme-text {
	position:absolute;
	left:0; bottom:20px;
	right:0;
	padding:0 10px;
}
.theme-area .theme-text .theme-serve {
	font-size:15px;
	color:#fff;
	line-height:24px;
}
.theme-area .theme-text .theme-title {
	font-size:30px;
	color:#fff;
	line-height:39px;
	font-weight:bold;
}
.theme-area .theme-text .theme-box {
	overflow:auto;
	height:240px;
	margin-top:14px;
	padding:22px 25px 30px;
	background-color:#fff;
	box-sizing:border-box;
}
.theme-area .theme-text .theme-box .theme-list {}
.theme-area .theme-text .theme-box .theme-list .item {
	position:relative;
	margin-top:7px;
	padding-left:16px;
	font-size:13px;
	color:#333;
	line-height:17px;
}
.theme-area .theme-text .theme-box .theme-list .item:first-child {margin-top:0;}
.theme-area .theme-text .theme-box .theme-list .item .number {
	position:absolute;
	left:0; top:0;
}
.theme-area .theme-slide .swiper-pagination {
	position:absolute;
	right:10px; bottom:280px;
	width:60px;
    height:27px;
    box-sizing:border-box;
    border-radius:25px;
	background-color:rgba(102,102,102,0.6);
    color:#fff;
    font-size:12px;
    text-align:center;
    line-height:27px;
	z-index:100;
}
.theme-area .simple-search {
	position:absolute;
	left:10px; top:57px;
	right:10px;
	margin:0 auto;
	border:3px solid #fff;
	box-sizing:border-box;
	z-index:100;
}
.theme-area .simple-search .form-button-type1 {
	padding-right:65px;
}
.theme-area .simple-search .form-button-type1 input {
	border:0;
	background-color:inherit;
	color:#fff;
}
/* 신규 요리 */
.new-cont {padding:0 10px;}
.new-cont .new-box {}
.new-cont .new-box .new-img img {width:100%; height:auto; vertical-align:middle;}
.new-cont .new-box .new-text {
	position:relative;
	padding:12px 0 17px;
	border:1px solid #ddd;
	border-top:0;
	box-sizing:border-box;
}
.new-cont .new-box .new-text .text-area {padding:0 15px;}
.new-cont .new-box .new-text .new-txt .tit {color:#333;}
.new-cont .new-box .new-text .time {
	position:absolute;
	right:15px; top:20px;
	color:#60b015;
}
.new-cont .new-box .new-text .new-silde {margin-top:18px;}
.new-cont .new-box .new-text .new-silde .swiper-slide {
	margin-left:15px;
	width:90px !important;
}
.new-cont .new-box .new-text .new-silde .swiper-slide:first-child {margin-left:0;}
.new-cont .new-box .new-text .new-silde .swiper-slide .img-area {
	position:relative;
	height:90px;
	border:1px solid #eee;
	box-sizing:border-box;
}
.new-cont .new-box .new-text .new-silde .swiper-slide .img-area .ico-label {
	position:absolute;
	left:0; top:0;
}
.new-cont .new-box .new-text .new-silde .swiper-slide .slid-txt {
	position:relative;
	overflow:hidden;
	height:32px;
	margin-top:8px;
	font-size:13px;
	color:#666;
	line-height:16px;
	text-align:center;
	letter-spacing:-1px;
}
.new-cont .new-box .new-text .new-silde .swiper-slide .slid-txt .txt01 {
	display:block;
	position:absolute;
	left:0; top:50%;
	width:100%;
	transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
}

@media only screen and (max-width: 320px) {
	.sign-area .news-list .item-news dd {
		font-size:10px;
	}
	.livestock-box .livestock-tit {
		font-size:15px;
		color:#6e4a23;
		line-height:19px;
		font-weight:600;
	}

}

/* 바코드 검색 */
.barcode-area {position:relative;}
.barcode-area .barcode-img {position:relative; z-index:5;}
.barcode-area .barcode-img img {width:100%; height:auto; vertical-align:middle;}
.barcode-area .barcode-text {
	position:absolute;
	left:20px; top:20px;
	right:20px;
	height:31px;
	font-size:13px;
	color:#fff;
	line-height:31px;
	background-color:rgba(0,0,0,0.5);
	text-align:center;
	z-index:10;
}
.barcode-area .bar-area {
	position:absolute;
	width:15px;
	height:15px;
	z-index:10;
}
.barcode-area .bar01 {
	left:10px; top:10px;
	border-top:2px solid #fff;
	border-left:2px solid #fff;
}
.barcode-area .bar02 {
	right:10px; top:10px;
	border-top:2px solid #fff;
	border-right:2px solid #fff;
}
.barcode-area .bar03 {
	left:10px; bottom:10px;
	border-bottom:2px solid #fff;
	border-left:2px solid #fff;
}
.barcode-area .bar04 {
	right:10px; bottom:10px;
	border-bottom:2px solid #fff;
	border-right:2px solid #fff;
}
